$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap';
@import 'markercluster';

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.dropdown-menu {
  z-index: 1001;
}

/* Everything gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  border-bottom: 1px solid #e5e5e5;

  .nav {
    margin-top: 10px;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 0;
    font-size: 26px
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 19px;
    font-size: 18px
  }
}

.footer {
  padding-top: 10px;
  margin-top: 20px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}

.container-narrow > hr {
  margin: 30px 0;
}


#main-map {
  height: 200px;
}

.leaflet-control-layers label {
  margin-bottom: 0;
  font-weight: normal;
}

.theme-nav {
  margin-bottom: 8px;

  > li > a {
    background-color: #eee;
    color: black;
  }
}

.year-nav {
  margin-top: 8px;

  > li > a {
    padding: 6px 10px;
    background-color: #eee;
    color: black;
  }
}

.decade-label {
  float: left;
  height: 30px;
  padding-top: 6px;
  padding-right: 10px;
}

.year-select-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.table-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.note-marker {
  color: #007fff;
}

.callout {
  margin: 10px 0;
  padding: 10px;
  border-left: 3px solid #eee;

  h4 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
  }
}

.callout-warning {
  background-color: #fcf8f2;
  border-color: #f0ad4e;
}

.callout-danger {
  background-color: #fdf7f7;
  border-color: #d9534f;
}

.pagination-container {
  text-align: center;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 10px;
    }

    #main-map {
      height: 400px;
    }
}
