<div class="col-md-12">
  <h3>{{heading}} - {{currentYear}}</h3>

  <div ng-show="!tableRows.length" class="callout callout-warning">
    <p>
      No data found for selected options. Please select a different decade, area, or entity.
    </p>
  </div>

  <div ng-hide="!tableRows.length">
    <p ng-bind-html='mapDescription'></p>
    <p ng-bind-html='tableDescription'></p>

    <div class="row">
      <div class="col-md-12 table-responsive ">
        <smart-table columns="tableColumns" rows="tableRows" config="tableConfig">
        </smart-table>
      </div>
    </div>

    <p ng-hide="{{ 'needs.summary' | isState }}">
      * For full entity, including portions that may fall outside of region/county (click on entity to view its full details).
    </p>
  </div>
</div>
