

<div class="row">
  <div class="col-md-12">
    <p class="lead">
      Identified water <strong>needs</strong> are projected water demands in excess of existing water supplies during drought of record conditions (i.e., potential shortage if no water management strategy is implemented).
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6 pull-left">
    <div theme-nav="needs"></div>
    <div theme-nav="demands"></div>
  </div>

  <div map-controls class="col-md-6"></div>


</div>

<div needs-map class="main-map" ng-hide="isHidden" ></div>

<div class="row year-select-container">
  <div ng-controller="YearSelectCtrl" class="col-md-6">
    <span class="decade-label">DECADE:</span>
    <ul class="year-nav nav nav-pills">
      <li ng-repeat="year in years" ng-class="{'active': year == selectedYear}">
        <a href="" ng-click="selectYear(year)">{{year}}</a>
      </li>
    </li>
  </div>

  <div class="col-md-6 map-note">
    <p class="small">
      Some entities (e.g., county-wide entities) have overlapping locations.
      <br>
      Clicking on such entities will expand the group so that they may be viewed individually.
    </p>
  </div>
</div>

<div place-selects></div>

<div ui-view class="row" auto-scroll="false"></div>
