
<div class="row">
  <div class="col-md-12">
    <p class="lead">
      Identified water <strong>needs</strong> are projected water demands in excess of existing water supplies during drought of record conditions (i.e., potential shortage if no water management strategy is implemented).
    </p>
  </div>
</div>

<div class="row">
  <div theme-navs class="col-md-6 pull-left"></div>
  <div map-controls class="col-md-6"></div>
</div>

<div needs-map class="main-map" ng-hide="isHidden" ></div>

<div class="row year-select-container">
  <div year-select class="col-md-6"></div>

  <div class="col-md-6 map-note">
    <p class="small">
      Some entities (e.g., county-wide entities) have overlapping locations.
      <br>
      Clicking on such entities will expand the group so that they may be viewed individually.
    </p>
  </div>
</div>

<div place-selects></div>

<div ui-view class="row" auto-scroll="false"></div>
