node_modules
.tmp
.sass-cache
*.pyc
application/dist
secrets
deploy/.vagrant/
deploy/production_inventory
deploy/vagrant_ansible_inventory_default
scripts/db_config.py
scripts/build
scripts/Include
scripts/Lib
scripts/Scripts
scripts/venv
