@{
    ViewBag.Title = "Texas State Water Plan 2012 | TWDB";
}

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li class="active">
                    <a href="#">Home</a>
                </li>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="page-header">
        <h1>
            Texas State Water Plan 2012
            <small>Texas Water Development Board</small>
        </h1>
    </div>

    <div class="row">
        <div class="span12" id="appContainer">
        
        </div>
    </div>
    <div class="row">
        <div class="span8">
            <p>
                Text and stuff
            </p>
        </div>
        <div class="span4">
            <p>
                Other text
            </p>
        </div>
    </div>
</div>