<div class="row">
    <div class="span12">
        <div class="alert alert-block alert-warning-border">
            <h4>Warning!</h4>
            This site is currently in alpha testing and is undergoing extensive QA/QC.
            In some cases, the data are known to be wrong. Do not rely on these data.<br />
            For definitive 2011 Regional Water Plan data please go to: <a href="http://www.twdb.state.tx.us/waterplanning/rwp/plans/2011/">http://www.twdb.state.tx.us/waterplanning/rwp/plans/2011/</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="span12" id="themeNavContainer">
    </div>
</div>

<div class="row">
    <div class="span12">
        <div id="mapContainer"></div>
    </div>
</div>

<div class="row toolbar">
    <div class="span12">
        <div class="pull-left" id="yearNavContainer"></div>
        
        <div id="mapTools" class="map-stuff">

        </div>
        
    </div>
</div>

<div id="dataContainer">
    <div class="row">
        <div class="span12" id="breadcrumbContainer"></div>
    </div>

    <div class="row">
        <div class="span12" id="tableContainer"></div>
        <div class="tableLoading"><i class="icon-spinner icon-spin"></i></div>
    </div>
</div>