
<td>
    <a href="#/{{currYear}}/wms/county/{{m.countyId}}">
        {{m.countyName}}
    </a>
</td>
<td>
    <a href="#/{{currYear}}/wms/region/{{m.regionLetter}}">
        {{m.regionLetter}}
    </a>
</td>
<td>{{ $.number(m.netMunicipal) }}</td>
<td>{{ $.number(m.netIrrigation) }}</td>
<td>{{ $.number(m.netManufacturing) }}</td>
<td>{{ $.number(m.netLivestock) }}</td>
<td>{{ $.number(m.netSteamElectric) }}</td>
<td>{{ $.number(m.netMining) }}</td>
<td><b>{{ $.number(m.netSupplyTotal) }}</b></td>
