<h2>Net Supplies to Counties from Recommended Water Management Strategies</h2>
<p>All supply amounts are in units of acre-feet/year.</p>
<div class="scrollTableContainer">
    <table class="table-hover table-striped table-bordered table-condensed modelTable">
        <thead>
            <tr>
                <th data-sort="string">County</th>
                <th data-sort="string">Region</th>
                <th data-sort="formatted-int">Municipal</th>
                <th data-sort="formatted-int">Irrigation</th>
                <th data-sort="formatted-int">Manufacturing</th>
                <th data-sort="formatted-int">Livestock</th>
                <th data-sort="formatted-int">Steam Power</th>
                <th data-sort="formatted-int">Mining</th>
                <th data-sort="formatted-int">TOTAL</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<div class="loading loading-large"></div>