<h2>Net Supplies to Counties from Recommended Water Management Strategies</h2>
<table class="table table-hover table-bordered table-condensed modelTable">
    <thead>
        <tr>
            <th data-sort="string">County</th>
            <th data-sort="string">Region</th>
            <th data-sort="int">Municipal</th>
            <th data-sort="int">Irrigation</th>
            <th data-sort="int">Manufacturing</th>
            <th data-sort="int">Livestock</th>
            <th data-sort="int">Steam Power</th>
            <th data-sort="int">Mining</th>
            <th data-sort="int">TOTAL</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
<div class="loading loading-large"></div>