
<td>
    <a href="#" data-bind="click: selectCounty" data-value="{{m.countyId}}" data-name="{{m.countyName}}">
        {{m.countyName}}
    </a>
</td>
<td>
    <a href="#" data-bind="click: selectRegion" data-value="{{m.regionId}}" data-name="{{m.regionName}}">
        {{m.regionName}}
    </a>
</td>
<td>{{ $.number(m.netMunicipal) }}</td>
<td>{{ $.number(m.netIrrigation) }}</td>
<td>{{ $.number(m.netManufacturing) }}</td>
<td>{{ $.number(m.netLivestock) }}</td>
<td>{{ $.number(m.netSteamElectric) }}</td>
<td>{{ $.number(m.netMining) }}</td>
<td><b>{{ $.number(m.netSupplyTotal) }}</b></td>
