<p>Map shows geographic center of entities using recommended water management strategies within <b><span data-bind="text: viewName"></span></b> (water system service area boundaries may extend outside of county).</p>

<p>Table lists recommended water management strategies and the entities that would use them in <span data-bind="text: viewName"></span> in <span data-bind="text: currYear"></span>.</p>

<table class="table-hover table-striped table-bordered table-condensed modelTable">
    <thead>
        <tr>
            <th>
                <span class="has-popover" data-content="Type of the recommended Water Management Strategy. Hover over a type name to view only Water User Groups with Water Management Strategies of that type.">
                    Type
                </span>
            </th>
            <th>
                <span class="has-popover" data-content="Description of the recommended Water Management Strategy. Click to view project details.">
                    Description
                </span>
            </th>
            <th>
                <span class="has-popover" data-content="Source supply of water for the Water Management Strategy">
                    Source
                </span>
            </th>
            <th>
                <span class="has-popover" data-content="Water User Group (WUG) supplied by the Water Management Strategy. In the map, the circles for WUGs are sized based on their relative supply volume.">
                    Entity <i class="wugIcon icon-circle"></i>
                </span>
            </th>
            <th data-sort="formatted-int">
                <span class="has-popover" data-content="Volume of water (in acre-feet/year) supplied by the Water Management Strategy">
                    Supply Volume <span data-bind="text: currYear"></span>
                </span>
            </th>
            <th>
                <span class="has-popover" data-content="Sponsor of the Water Management Strategy">
                    Sponsor Entity
                </span>
            </th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<p class="note-marker-container">
    <small>
        <span class="note-marker">*</span>
        Denotes a strategy with supply volume included in other strategies.
    </small>
</p>
