
<p>Map shows Regional Water Planning Areas that may be selected using cursor.</p>

<p>Table lists net water supplies to water user groups, by county and use type, from all recommended water management strategies in <span data-bind="text: currYear"></span>.</p>

<table class="table table-hover table-striped table-bordered table-condensed modelTable">
    <thead>
        <tr>
            <th>
                County
            </th>
            <th>
                <span class="has-popover" data-content="State Water Plan Planning Region">
                    Region
                </span>
            </th>
            <th data-sort="formatted-int">
                <span class="has-popover" data-content="Total Municipal supply (in acre-feet/year) provided by all Water Management Strategies) in each county">
                    Municipal
                </span>
            </th>
            <th data-sort="formatted-int">
                <span class="has-popover" data-content="Total Irrigation supply (in acre-feet/year) provided by all Water Management Strategies) in each county">
                    Irrigation
                </span>
            </th>
            <th data-sort="formatted-int">
                <span class="has-popover" data-content="Total Manufacturing supply (in acre-feet/year) provided by all Water Management Strategies) in each county">
                    Manufacturing
                </span>
            </th>
            <th data-sort="formatted-int">
                <span class="has-popover" data-content="Total Livestock supply (in acre-feet/year) provided by all Water Management Strategies) in each county">
                    Livestock
                </span>
            </th>
            <th data-sort="formatted-int">
                <span class="has-popover" data-content="Total Steam-Electric Power supply (in acre-feet/year) provided by all Water Management Strategies) in each county">
                    Steam-Electric Power
                </span>
            </th>
            <th data-sort="formatted-int">
                <span class="has-popover" data-content="Total Mining supply (in acre-feet/year) provided by all Water Management Strategies) in each county">
                    Mining
                </span>
            </th>
            <th data-sort="formatted-int">
                <span class="has-popover" data-content="Total supply (in acre-feet/year) provided by all Water Management Strategies) in each county">
                    TOTAL
                </span>
            </th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
