
<h2><span data-bind="text: viewName"></span> - <span data-bind="text: currYear"></span></h2>

<p>Map includes a schematic representation of water sources for water management strategies supplying <strong><span data-bind="text: viewName"></span></strong> <i class="wugIcon icon-circle"></i> in <span data-bind="text: currYear"></span>.</p>

<p>Conservation and other local strategy water sources are not mapped.</p>

<table class="table-hover table-striped table-bordered table-condensed modelTable">
    <thead>
        <tr>
            <th>
                <span class="has-popover" data-content="Type of the recommended Water Management Strategy. Hover over a type name to view only Water User Groups with Water Management Strategies of that type.">
                    Type
                </span>
            </th>
            <th>
                <span class="has-popover" data-content="Description of the recommended Water Management Strategy. Click to view project details.">
                    Description
                </span>
            </th>
            <th>
                <span class="has-popover" data-content="Source supply of water for the Water Management Strategy">
                    Source
                </span>
            </th>
            <th data-sort="formatted-int">
                <span class="has-popover" data-content="Volume of water (in acre-feet/year) supplied by the Water Management Strategy">
                    Supply Volume <span data-bind="text: currYear"></span>
                </span>
            </th>
            <th data-sort="currency">
                <span class="has-popover" data-content="Estimated capital cost of the Water Management Strategy">
                    Capital Cost
                </span>
            </th>
            <th>
                <span class="has-popover" data-content="Sponsor of the Water Management Strategy">
                    Sponsor Entity
                </span>
            </th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
<a href="#" class="tableDownloadLink"><i class="icon icon-save"> </i>Download Strategy Results</a>

<p class="note-marker-container">
    <small>
        <span class="note-marker">*</span>
        Denotes a strategy with supply volume included in other strategies.
    </small>
</p>