<ul class="nav nav-pills" id="themeNav">
    <li class="nav-label">THEME:</li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span>Water Management Strategies</span>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" id="strategyTypeList">
            <li>
                <a href="#/{{currYear}}/wms">
                    NET COUNTY SUPPLIES
                </a>
            </li>
        </ul>
    </li>
    <li class="disabled"><a href="#">Water Use</a></li>
    <li class="disabled"><a href="#">Sources</a></li>
    <li class="pull-right">
        <a class="btn" id="toggleMapBtn" data-bind="click: toggleMap">
            Hide Map
        </a>
    </li>
    <li class="pull-right map-stuff">
        <a class="btn" data-bind="click: zoomToTexas">
            Zoom to Texas
        </a>
    </li>
</ul>