<h2><span data-bind="text: viewName"></span> - <span data-bind="text: currYear"></span></h2>

<p>Map shows Regional Water Planning Area boundaries.</p>

<p>
    Table lists recommended water management strategies in <strong><span data-bind="text: viewName"></span></strong> - <span data-bind="text: currYear"></span> based on Appendix A.2 of the 2012 State Water Plan.
</p>

<table class="table-hover table-striped table-bordered table-condensed modelTable">
    <thead>
        <tr>
            <th>
                <span class="has-popover" data-content="Description of the recommended Water Management Strategy. Click to view project details.">
                    Description
                </span>
            </th>
            <th data-sort="formatted-int">
                <span class="has-popover" data-content="Volume of water (in acre-feet/year) supplied by the Water Management Strategy">
                    Supply Volume <span data-bind="text: currYear"></span>
                </span>
            </th>
            <th data-sort="currency">
                <span class="has-popover" data-content="Estimated capital cost of the Water Management Strategy">
                    Capital Cost
                </span>
            </th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
<a href="#" class="tableDownloadLink"><i class="icon icon-save"> </i>Download Strategy Results</a>

<p class="note-marker-container">
    <small>
        <span class="note-marker">*</span>
        Denotes a strategy with supply volume included in other strategies.
    </small>
</p>
