<h2><span data-bind="text: viewName"></span> - <span data-bind="text: currYear"></span></h2>

<p>Map includes a schematic representation of all entities <i class="wugIcon icon-circle"></i> with recommended water management strategies that rely on <strong><span data-bind="text: viewName"></span></strong> in <span data-bind="text: currYear"></span>.</p>

<p>Table lists water management strategies along with entities using water from <span data-bind="text: viewName"></span> in <span data-bind="text: currYear"></span>.</p>

<table class="table-hover table-striped table-bordered table-condensed modelTable">
    <thead>
        <tr>
            <th>
                <span class="has-popover" data-content="River basin of the selected source.  Only for Surface Water sources.">
                    River Basin
                </span>
            </th>
            <th>
                <span class="has-popover" data-content="State Water Plan Planning Region">
                    Region
                </span>
            </th>
            <th>
                <span class="has-popover" data-content="Description of the recommended Water Management Strategy. Click to view project details.">
                    Description
                </span>
            </th>
            <th>
                <span class="has-popover" data-content="Water User Group (WUG) supplied by the Water Management Strategy. In the map, the circles for WUGs are sized based on their relative supply volume.">
                    Entity <i class="wugIcon icon-circle"></i>
                </span>
            </th>
            <th data-sort="formatted-int">
                <span class="has-popover" data-content="Volume of water (in acre-feet/year) supplied by the Water Management Strategy">
                    Supply Volume <span data-bind="text: currYear"></span>
                </span>
            </th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
<% //<a href="#" class="tableDownloadLink"><i class="icon icon-save"> </i>Download Strategy Results</a> %>

<p class="note-marker-container">
    <small>
        <span class="note-marker">*</span>
        Denotes a strategy with supply volume included in other strategies.
    </small>
</p>