
<td>
    <a href="#/{{currYear}}/wms/type/{{m.typeId}}">
        {{m.typeName}}
    </a>
</td>

<td class="aligned-left">
    <a href="#/{{currYear}}/wms/project/{{m.projectId}}">
        {{m.description}}
    </a>
</td>
<td>{{m.sourceName}}</td>
<td>
    <a href="#/{{currYear}}/wms/entity/{{m.recipientEntityId}}">    
        {{m.recipientEntityName}}
    </a>
</td>
<td>{{ $.number(m["supply"+currYear]) }}</td>
<td>
    <span class="has-popover" data-content="Sponsor: {{m.sponsorName}}" data-placement="right">
        ${{ $.number(m.capitalCost) }}
    </span>
</td>
<td>{{m.onlineYear}}</td>
