<h2>
    Recommended Water Management Strategies in <span data-bind="text: viewName"></span> - <span data-bind="text: currYear"></span>
</h2>
<p>All supply amounts are in units of acre-feet/year.</p>

<table class="table-hover table-striped table-bordered table-condensed modelTable">
    <thead>
        <tr>
            <th>Type</th>
            <th>
                <span class="has-popover" data-content="Description of the recommended Water Management Strategy. Click to view project details.">
                    Description
                </span>
            </th>
            <th>
                <span class="has-popover" data-content="Source supply of water for the Water Management Strategy">
                    Source
                </span>
            </th>
            <th>
                <span class="has-popover" data-content="Water User Group (WUG) supplied by the Water Management Strategy. In the map, the circles for WUGs are sized based on their relative supply volume.">
                    Entity
                </span>
                <i class="wugIcon icon-circle"></i> 
            </th>
            <th data-sort="formatted-int">
                <span class="has-popover" data-content="Volume of water (in acre-feet/year) supplied by the Water Management Strategy">
                    Supply Volume <span data-bind="text: currYear"></span>
                </span>
            </th>
            <th data-sort="currency">
                <span class="has-popover" data-content="Estimated capital cost of the Water Management Strategy">
                    Capital Cost
                </span>
            </th>
            <th>
                <span class="has-popover" data-content="Sponsor of the Water Management Strategy">
                    Sponsor Entity
                </span>
            </th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
