<td>
    <a href="#/{{currYear}}/wms/region/{{m.regionLetter}}">
        {{m.regionLetter}}
    </a>
</td>
<td class="strategyType" data-type-id="{{m.typeId}}">   
    {{m.typeName}}
</td>
<td>{{m.sourceName}}</td>
<td>
    <% if (m.recipientEntityType != "WWP") { %>
        <a href="#/{{currYear}}/wms/entity/{{m.recipientEntityId}}">    
            {{m.recipientEntityName}}
        </a>
    <% } else { %>
        {{m.recipientEntityName}}
    <% } %>
</td>
<td>{{ $.number(m["supply"+currYear]) }}</td>
<td>
    <%  if (m.sponsorId == m.recipientEntityId) {
            print('$' + $.number(m.capitalCost));
        } else {
            print('---');
        }
    %>
</td>
<td>{{m.sponsorName}}</td>
