
<p>Map shows geographic center of entities using recommended <b><span data-bind="text: viewName"></span></b> strategies in <span data-bind="text: currYear"></span>.</p>

<p>Table lists recommended <span data-bind="text: viewName"></span> strategies and entities that would use them in <span data-bind="text: currYear"></span>.</p>

<table class="table-hover table-striped table-bordered table-condensed modelTable">
    <thead>
        <tr>
            <th>
                <span class="has-popover" data-content="State Water Plan Planning Region">
                    Region
                </span>
            </th>
            <th>
                <span class="has-popover" data-content="Description of the recommended Water Management Strategy. Click to view project details.">
                    Description
                </span>
            </th>
            <th>
                <span class="has-popover" data-content="Source supply of water for the Water Management Strategy">
                    Source
                </span>
            </th>
            <th>
                <span class="has-popover" data-content="Water User Group supplied by the Water Management Strategy. In the map, the circles for WUGs are sized based on their relative supply volume.">
                    Entity <i class="wugIcon icon-circle"></i>
                </span>
            </th>
            <th data-sort="formatted-int">
                <span class="has-popover" data-content="Volume of water (in acre-feet/year) supplied by the Water Management Strategy">
                    Supply Volume <span data-bind="text: currYear"></span>
                </span>
            </th>
            <th>
                <span class="has-popover" data-content="Sponsor of the Water Management Strategy">
                    Sponsor Entity
                </span>
            </th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
