<h2>Water Management Strategies of Type "<span id="strategyTypeName"></span>"</h2>
<p>All supply amounts are in units of acre-feet/year.</p>
<div class="scrollTableContainer">
    <table class="table-hover table-striped table-bordered table-condensed modelTable">
        <thead>
            <tr>
                <th data-sort="string">Region</th>
                <th data-sort="string">Description</th>
                <th data-sort="string">Source</th>
                <th data-sort="string">Entity</th>
                <th data-sort="formatted-int">Supply Volume</th>
                <th data-sort="int">Decade Online</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<div class="loading loading-large"></div>