<ul class="nav nav-pills" id="themeNav">
    <li class="nav-label">THEME:</li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span>Water Management Strategies</span>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" id="strategyTypeList">
            <li>
                <a href="#" data-bind="click: changeStrategyView" data-value="all">
                    View All
                </a>
            </li>
        </ul>
    </li>
    <li class="disabled"><a href="#">Water Use</a></li>
    <li class="disabled"><a href="#">Sources</a></li>
    <li class="pull-right"><a href="#" data-bind="click: toggleMap">Hide Map</a></li>
</ul>