<ul class="nav nav-pills" id="themeNav">
    <li class="nav-label">THEME:</li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span>Water Management Strategies</span>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" id="strategyTypeList">
            <li>
                <a href="#/{{currYear}}/wms">
                    NET COUNTY SUPPLIES
                </a>
            </li>
            <li class="nav-category">
                Strategies by Type:
            </li>
        </ul>
    </li>
    <!-- <li class="disabled"><a href="#">Water Use</a></li>
    <li class="disabled"><a href="#">Sources</a></li> -->
</ul>
