<ul class="nav nav-pills" id="yearNav">
    <li class="nav-label">YEAR:</li>
    <li><a href="#" data-bind="click: changeYear" data-value="2010">2010</a></li>
    <li><a href="#" data-bind="click: changeYear" data-value="2020">2020</a></li>
    <li><a href="#" data-bind="click: changeYear" data-value="2030">2030</a></li>
    <li><a href="#" data-bind="click: changeYear" data-value="2040">2040</a></li>
    <li><a href="#" data-bind="click: changeYear" data-value="2050">2050</a></li>
    <li><a href="#" data-bind="click: changeYear" data-value="2060">2060</a></li>
</ul>