check host tilestache-uwsgi with address 127.0.0.1
    start "/sbin/start tilestache"
    stop "/sbin/stop tilestache"
    if failed port {{ tilestache_uwsgi_stats_port }}
        with timeout 5 seconds
        then restart


check host tilestache-nginx with address 127.0.0.1
    start "/usr/bin/service nginx start"
    stop "/usr/bin/service nginx stop"
    if failed port {{ nginx_port }} protocol HTTP
        request /
        with timeout 5 seconds
        then restart
