{
 "cache": {
    "name": "Redis",
    "host": "localhost",
    "port": 6379,
    "db": {{ tilestache_redis_db }}
  },
  "layers": {
    "counties-outlines": {
      "provider": {
          "name": "mapnik",
          "mapfile": "{{ mapnik_dir }}/counties-outlines.xml"
      },
      "projection": "spherical mercator",
      "preview": {
        "lat": 31.273,
        "lon": -99.848,
        "zoom": 6,
        "ext": "png"
      }
    },
    "counties-labels": {
      "provider": {
          "name": "mapnik",
          "mapfile": "{{ mapnik_dir }}/counties-labels.xml"
      },
      "projection": "spherical mercator",
      "preview": {
        "lat": 31.273,
        "lon": -99.848,
        "zoom": 8,
        "ext": "png"
      },
      "metatile": {
        "rows": 4,
        "columns": 4,
        "buffer": 64
      }
    },
    "public-water-systems": {
      "provider": {
          "name": "mapnik",
          "mapfile": "{{ mapnik_dir }}/public-water-systems.xml"
      },
      "projection": "spherical mercator",
      "preview": {
        "lat": 31.273,
        "lon": -99.848,
        "zoom": 6,
        "ext": "png"
      },
      "metatile": {
        "rows": 4,
        "columns": 4,
        "buffer": 64
      }
    },
    "rwpas": {
      "provider": {
          "name": "mapnik",
          "mapfile": "{{ mapnik_dir }}/rwpas.xml"
      },
      "projection": "spherical mercator",
      "preview": {
        "lat": 31.273,
        "lon": -99.848,
        "zoom": 6,
        "ext": "png"
      },
      "metatile": {
        "rows": 4,
        "columns": 4,
        "buffer": 64
      }
    }
  }
}
