#/etc/init/water-plan-app.conf
description "Interactive Water Plan App"
author "TNRIS app team"

# it's possible to use "net-device-up IFACE=eth0" for starting the process when the ethernet adapter is up 
start on startup 
stop on shutdown

script
        cd {{ app_dir }}
        exec sudo -u {{ water_plan_user }} NODE_ENV=production PORT={{ node_port }} /usr/bin/node {{ app_dir }}/{{ app_server }} >> {{ app_log_file }} 2>&1
end script
