
body 
{
    padding-top: 60px;
}

#mapContainer 
{
    height: 420px;
}

#waterUseChart
{
    background-color: white;
}

.olMapViewport img
{
    max-width:none;
}

.olControlAttribution 
{
    bottom: 4px;
}