@{
    ViewBag.Title = "Texas State Water Plan 2012 | TWDB";
}


<div class="container">
    

    <div class="page-header">
        <h1>
            Texas State Water Plan 2012
            <small>Texas Water Development Board</small>
        </h1>
    </div>

    <div class="row">
        <div class="alert alert-block span12">
            <h4>Warning!</h4>
            This site is currently in alpha testing and is undergoing extensive QA/QC.
            In some cases, the data are known to be wrong. Do not rely on these data.<br />
            For definitive 2011 Regional Water Plan data please go to: <a href="http://www.twdb.state.tx.us/waterplanning/rwp/plans/2011/">http://www.twdb.state.tx.us/waterplanning/rwp/plans/2011/</a>
        </div>
    </div>

    <div class="row">
    
        <div class="span12" id="appContainer">
        
        </div>
    </div>

</div>