<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE Map[]>
<Map srs="+proj=merc +a=6378137 +b=6378137 +lat_ts=0.0 +lon_0=0.0 +x_0=0.0 +y_0=0.0 +k=1.0 +units=m +nadgrids=@null +wktext +no_defs +over" background-color="#00000000" maximum-extent="-20037508.34,-20037508.34,20037508.34,20037508.34">

<Parameters>
  <Parameter name="bounds">-106.7321,25.7207,-93.4606,36.5449</Parameter>
  <Parameter name="center">-98.0859,30.1451,1</Parameter>
  <Parameter name="format">png</Parameter>
  <Parameter name="minzoom">0</Parameter>
  <Parameter name="maxzoom">12</Parameter>
</Parameters>

<Style name="rwpawithcoastnad83" filter-mode="first" >
  <Rule>
    <Filter>([LETTER] = 'P')</Filter>
    <LineSymbolizer stroke="#559944" stroke-width="0.5" />
    <PolygonSymbolizer fill="rgba(8, 104, 172, 0.6)" fill-opacity="1" />
  </Rule>
  <Rule>
    <Filter>([LETTER] = 'O')</Filter>
    <LineSymbolizer stroke="#559944" stroke-width="0.5" />
    <PolygonSymbolizer fill="rgba(0, 132, 168, 0.6)" fill-opacity="1" />
  </Rule>
  <Rule>
    <Filter>([LETTER] = 'N')</Filter>
    <LineSymbolizer stroke="#559944" stroke-width="0.5" />
    <PolygonSymbolizer fill="rgba(195, 197, 247, 0.6)" fill-opacity="1" />
  </Rule>
  <Rule>
    <Filter>([LETTER] = 'M')</Filter>
    <LineSymbolizer stroke="#559944" stroke-width="0.5" />
    <PolygonSymbolizer fill="rgba(9, 62, 153, 0.6)" fill-opacity="1" />
  </Rule>
  <Rule>
    <Filter>([LETTER] = 'L')</Filter>
    <LineSymbolizer stroke="#559944" stroke-width="0.5" />
    <PolygonSymbolizer fill="rgba(204, 235, 197, 0.6)" fill-opacity="1" />
  </Rule>
  <Rule>
    <Filter>([LETTER] = 'K')</Filter>
    <LineSymbolizer stroke="#559944" stroke-width="0.5" />
    <PolygonSymbolizer fill="rgba(108, 125, 212, 0.6)" fill-opacity="1" />
  </Rule>
  <Rule>
    <Filter>([LETTER] = 'J')</Filter>
    <LineSymbolizer stroke="#559944" stroke-width="0.5" />
    <PolygonSymbolizer fill="rgba(64, 93, 189, 0.6)" fill-opacity="1" />
  </Rule>
  <Rule>
    <Filter>([LETTER] = 'I')</Filter>
    <LineSymbolizer stroke="#559944" stroke-width="0.5" />
    <PolygonSymbolizer fill="rgba(168, 221, 181, 0.6)" fill-opacity="1" />
  </Rule>
  <Rule>
    <Filter>([LETTER] = 'H')</Filter>
    <LineSymbolizer stroke="#559944" stroke-width="0.5" />
    <PolygonSymbolizer fill="rgba(102, 153, 205, 0.6)" fill-opacity="1" />
  </Rule>
  <Rule>
    <Filter>([LETTER] = 'G')</Filter>
    <LineSymbolizer stroke="#559944" stroke-width="0.5" />
    <PolygonSymbolizer fill="rgba(224, 243, 219, 0.6)" fill-opacity="1" />
  </Rule>
  <Rule>
    <Filter>([LETTER] = 'F')</Filter>
    <LineSymbolizer stroke="#559944" stroke-width="0.5" />
    <PolygonSymbolizer fill="rgba(198, 219, 239, 0.6)" fill-opacity="1" />
  </Rule>
  <Rule>
    <Filter>([LETTER] = 'E')</Filter>
    <LineSymbolizer stroke="#559944" stroke-width="0.5" />
    <PolygonSymbolizer fill="rgba(161, 217, 155, 0.6)" fill-opacity="1" />
  </Rule>
  <Rule>
    <Filter>([LETTER] = 'D')</Filter>
    <LineSymbolizer stroke="#559944" stroke-width="0.5" />
    <PolygonSymbolizer fill="rgba(102, 119, 205, 0.6)" fill-opacity="1" />
  </Rule>
  <Rule>
    <Filter>([LETTER] = 'C')</Filter>
    <LineSymbolizer stroke="#559944" stroke-width="0.5" />
    <PolygonSymbolizer fill="rgba(40, 79, 176, 0.6)" fill-opacity="1" />
  </Rule>
  <Rule>
    <Filter>([LETTER] = 'B')</Filter>
    <LineSymbolizer stroke="#559944" stroke-width="0.5" />
    <PolygonSymbolizer fill="rgba(0, 169, 230, 0.6)" fill-opacity="1" />
  </Rule>
  <Rule>
    <Filter>([LETTER] = 'A')</Filter>
    <LineSymbolizer stroke="#559944" stroke-width="0.5" />
    <PolygonSymbolizer fill="rgba(116, 196, 118, 0.6)" fill-opacity="1" />
  </Rule>
  <Rule>
    <LineSymbolizer stroke="#559944" stroke-width="0.5" />
    <PolygonSymbolizer fill-opacity="1" fill="#aaee88" />
  </Rule>
</Style>

<Layer name="rwpawithcoastnad83"
  srs="+proj=longlat +ellps=GRS80 +no_defs">
    <StyleName>rwpawithcoastnad83</StyleName>
    <Datasource>
        <Parameter name="file"><![CDATA[{{ spatial_dir }}/RWPAs/RWPA_with_Coast_NAD83.shp]]></Parameter>
       <Parameter name="type"><![CDATA[shape]]></Parameter>
    </Datasource>
  </Layer>

</Map>
