<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE Map[]>
<Map srs="+proj=merc +a=6378137 +b=6378137 +lat_ts=0.0 +lon_0=0.0 +x_0=0.0 +y_0=0.0 +k=1.0 +units=m
+nadgrids=@null +wktext +no_defs +over" background-color="#00000000"
maximum-extent="-20037508.34,-20037508.34,20037508.34,20037508.34" font-directory="{{ tilestache_font_dir }}">

<Parameters>
  <Parameter name="bounds">-106.7321,25.7207,-93.4606,36.5449</Parameter>
  <Parameter name="center">-98.0859,30.1451,1</Parameter>
  <Parameter name="format">png</Parameter>
  <Parameter name="minzoom">0</Parameter>
  <Parameter name="maxzoom">12</Parameter>
</Parameters>


<Style name="rwpawithcoastnad83" filter-mode="first" >
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <Filter>([LETTER] = 'P')</Filter>
    <PolygonSymbolizer fill="#0868ac" fill-opacity="1" />
    <TextSymbolizer wrap-width="1" wrap-character="_" fill="#cfdcff" face-name="Open Sans Regular" size="20" ><![CDATA['Region '+[LETTER]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>25000000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([LETTER] = 'P')</Filter>
    <PolygonSymbolizer fill="#0868ac" fill-opacity="1" />
    <TextSymbolizer fill="#cfdcff" face-name="Open Sans Regular" size="20" ><![CDATA[[LETTER]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>25000000</MinScaleDenominator>
    <Filter>([LETTER] = 'P')</Filter>
    <PolygonSymbolizer fill="#0868ac" fill-opacity="1" />
    <TextSymbolizer fill="#cfdcff" face-name="Open Sans Regular" size="20" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <Filter>([LETTER] = 'O')</Filter>
    <PolygonSymbolizer fill="#0084a8" fill-opacity="1" />
    <TextSymbolizer wrap-width="1" wrap-character="_" face-name="Open Sans Regular" fill="#003366" size="20" ><![CDATA['Region '+[LETTER]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>25000000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([LETTER] = 'O')</Filter>
    <PolygonSymbolizer fill="#0084a8" fill-opacity="1" />
    <TextSymbolizer face-name="Open Sans Regular" fill="#003366" size="20" ><![CDATA[[LETTER]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>25000000</MinScaleDenominator>
    <Filter>([LETTER] = 'O')</Filter>
    <PolygonSymbolizer fill="#0084a8" fill-opacity="1" />
    <TextSymbolizer face-name="Open Sans Regular" fill="#003366" size="20" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <Filter>([LETTER] = 'N')</Filter>
    <PolygonSymbolizer fill="#c3c5f7" fill-opacity="1" />
    <TextSymbolizer wrap-width="1" wrap-character="_" face-name="Open Sans Regular" fill="#003366" size="20" ><![CDATA['Region '+[LETTER]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>25000000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([LETTER] = 'N')</Filter>
    <PolygonSymbolizer fill="#c3c5f7" fill-opacity="1" />
    <TextSymbolizer face-name="Open Sans Regular" fill="#003366" size="20" ><![CDATA[[LETTER]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>25000000</MinScaleDenominator>
    <Filter>([LETTER] = 'N')</Filter>
    <PolygonSymbolizer fill="#c3c5f7" fill-opacity="1" />
    <TextSymbolizer face-name="Open Sans Regular" fill="#003366" size="20" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <Filter>([LETTER] = 'M')</Filter>
    <PolygonSymbolizer fill="#093e99" fill-opacity="1" />
    <TextSymbolizer wrap-width="1" wrap-character="_" fill="#cfdcff" face-name="Open Sans Regular" size="20" ><![CDATA['Region '+[LETTER]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>25000000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([LETTER] = 'M')</Filter>
    <PolygonSymbolizer fill="#093e99" fill-opacity="1" />
    <TextSymbolizer fill="#cfdcff" face-name="Open Sans Regular" size="20" ><![CDATA[[LETTER]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>25000000</MinScaleDenominator>
    <Filter>([LETTER] = 'M')</Filter>
    <PolygonSymbolizer fill="#093e99" fill-opacity="1" />
    <TextSymbolizer fill="#cfdcff" face-name="Open Sans Regular" size="20" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <Filter>([LETTER] = 'L')</Filter>
    <PolygonSymbolizer fill="#ccebc5" fill-opacity="1" />
    <TextSymbolizer wrap-width="1" wrap-character="_" face-name="Open Sans Regular" fill="#003366" size="20" ><![CDATA['Region '+[LETTER]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>25000000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([LETTER] = 'L')</Filter>
    <PolygonSymbolizer fill="#ccebc5" fill-opacity="1" />
    <TextSymbolizer face-name="Open Sans Regular" fill="#003366" size="20" ><![CDATA[[LETTER]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>25000000</MinScaleDenominator>
    <Filter>([LETTER] = 'L')</Filter>
    <PolygonSymbolizer fill="#ccebc5" fill-opacity="1" />
    <TextSymbolizer face-name="Open Sans Regular" fill="#003366" size="20" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <Filter>([LETTER] = 'K')</Filter>
    <PolygonSymbolizer fill="#6c7dd4" fill-opacity="1" />
    <TextSymbolizer wrap-width="1" wrap-character="_" face-name="Open Sans Regular" fill="#003366" size="20" ><![CDATA['Region '+[LETTER]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>25000000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([LETTER] = 'K')</Filter>
    <PolygonSymbolizer fill="#6c7dd4" fill-opacity="1" />
    <TextSymbolizer face-name="Open Sans Regular" fill="#003366" size="20" ><![CDATA[[LETTER]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>25000000</MinScaleDenominator>
    <Filter>([LETTER] = 'K')</Filter>
    <PolygonSymbolizer fill="#6c7dd4" fill-opacity="1" />
    <TextSymbolizer face-name="Open Sans Regular" fill="#003366" size="20" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <Filter>([LETTER] = 'J')</Filter>
    <PolygonSymbolizer fill="#405dbd" fill-opacity="1" />
    <TextSymbolizer wrap-width="1" wrap-character="_" face-name="Open Sans Regular" fill="#003366" size="20" ><![CDATA['Region '+[LETTER]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>25000000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([LETTER] = 'J')</Filter>
    <PolygonSymbolizer fill="#405dbd" fill-opacity="1" />
    <TextSymbolizer face-name="Open Sans Regular" fill="#003366" size="20" ><![CDATA[[LETTER]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>25000000</MinScaleDenominator>
    <Filter>([LETTER] = 'J')</Filter>
    <PolygonSymbolizer fill="#405dbd" fill-opacity="1" />
    <TextSymbolizer face-name="Open Sans Regular" fill="#003366" size="20" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <Filter>([LETTER] = 'I')</Filter>
    <PolygonSymbolizer fill="#a8ddb5" fill-opacity="1" />
    <TextSymbolizer wrap-width="1" wrap-character="_" face-name="Open Sans Regular" fill="#003366" size="20" ><![CDATA['Region '+[LETTER]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>25000000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([LETTER] = 'I')</Filter>
    <PolygonSymbolizer fill="#a8ddb5" fill-opacity="1" />
    <TextSymbolizer face-name="Open Sans Regular" fill="#003366" size="20" ><![CDATA[[LETTER]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>25000000</MinScaleDenominator>
    <Filter>([LETTER] = 'I')</Filter>
    <PolygonSymbolizer fill="#a8ddb5" fill-opacity="1" />
    <TextSymbolizer face-name="Open Sans Regular" fill="#003366" size="20" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <Filter>([LETTER] = 'H')</Filter>
    <PolygonSymbolizer fill="#6699cd" fill-opacity="1" />
    <TextSymbolizer wrap-width="1" wrap-character="_" face-name="Open Sans Regular" fill="#003366" size="20" ><![CDATA['Region '+[LETTER]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>25000000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([LETTER] = 'H')</Filter>
    <PolygonSymbolizer fill="#6699cd" fill-opacity="1" />
    <TextSymbolizer face-name="Open Sans Regular" fill="#003366" size="20" ><![CDATA[[LETTER]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>25000000</MinScaleDenominator>
    <Filter>([LETTER] = 'H')</Filter>
    <PolygonSymbolizer fill="#6699cd" fill-opacity="1" />
    <TextSymbolizer face-name="Open Sans Regular" fill="#003366" size="20" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <Filter>([LETTER] = 'G')</Filter>
    <PolygonSymbolizer fill="#e0f3db" fill-opacity="1" />
    <TextSymbolizer wrap-width="1" wrap-character="_" face-name="Open Sans Regular" fill="#003366" size="20" ><![CDATA['Region '+[LETTER]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>25000000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([LETTER] = 'G')</Filter>
    <PolygonSymbolizer fill="#e0f3db" fill-opacity="1" />
    <TextSymbolizer face-name="Open Sans Regular" fill="#003366" size="20" ><![CDATA[[LETTER]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>25000000</MinScaleDenominator>
    <Filter>([LETTER] = 'G')</Filter>
    <PolygonSymbolizer fill="#e0f3db" fill-opacity="1" />
    <TextSymbolizer face-name="Open Sans Regular" fill="#003366" size="20" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <Filter>([LETTER] = 'F')</Filter>
    <PolygonSymbolizer fill="#c6dbef" fill-opacity="1" />
    <TextSymbolizer wrap-width="1" wrap-character="_" face-name="Open Sans Regular" fill="#003366" size="20" ><![CDATA['Region '+[LETTER]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>25000000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([LETTER] = 'F')</Filter>
    <PolygonSymbolizer fill="#c6dbef" fill-opacity="1" />
    <TextSymbolizer face-name="Open Sans Regular" fill="#003366" size="20" ><![CDATA[[LETTER]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>25000000</MinScaleDenominator>
    <Filter>([LETTER] = 'F')</Filter>
    <PolygonSymbolizer fill="#c6dbef" fill-opacity="1" />
    <TextSymbolizer face-name="Open Sans Regular" fill="#003366" size="20" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <Filter>([LETTER] = 'E')</Filter>
    <PolygonSymbolizer fill="#a1d99b" fill-opacity="1" />
    <TextSymbolizer wrap-width="1" wrap-character="_" face-name="Open Sans Regular" fill="#003366" size="20" ><![CDATA['Region '+[LETTER]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>25000000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([LETTER] = 'E')</Filter>
    <PolygonSymbolizer fill="#a1d99b" fill-opacity="1" />
    <TextSymbolizer face-name="Open Sans Regular" fill="#003366" size="20" ><![CDATA[[LETTER]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>25000000</MinScaleDenominator>
    <Filter>([LETTER] = 'E')</Filter>
    <PolygonSymbolizer fill="#a1d99b" fill-opacity="1" />
    <TextSymbolizer face-name="Open Sans Regular" fill="#003366" size="20" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <Filter>([LETTER] = 'D')</Filter>
    <PolygonSymbolizer fill="#6677cd" fill-opacity="1" />
    <TextSymbolizer wrap-width="1" wrap-character="_" face-name="Open Sans Regular" fill="#003366" size="20" ><![CDATA['Region '+[LETTER]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>25000000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([LETTER] = 'D')</Filter>
    <PolygonSymbolizer fill="#6677cd" fill-opacity="1" />
    <TextSymbolizer face-name="Open Sans Regular" fill="#003366" size="20" ><![CDATA[[LETTER]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>25000000</MinScaleDenominator>
    <Filter>([LETTER] = 'D')</Filter>
    <PolygonSymbolizer fill="#6677cd" fill-opacity="1" />
    <TextSymbolizer face-name="Open Sans Regular" fill="#003366" size="20" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <Filter>([LETTER] = 'C')</Filter>
    <PolygonSymbolizer fill="#284fb0" fill-opacity="1" />
    <TextSymbolizer wrap-width="1" wrap-character="_" fill="#cfdcff" face-name="Open Sans Regular" size="20" ><![CDATA['Region '+[LETTER]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>25000000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([LETTER] = 'C')</Filter>
    <PolygonSymbolizer fill="#284fb0" fill-opacity="1" />
    <TextSymbolizer fill="#cfdcff" face-name="Open Sans Regular" size="20" ><![CDATA[[LETTER]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>25000000</MinScaleDenominator>
    <Filter>([LETTER] = 'C')</Filter>
    <PolygonSymbolizer fill="#284fb0" fill-opacity="1" />
    <TextSymbolizer fill="#cfdcff" face-name="Open Sans Regular" size="20" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <Filter>([LETTER] = 'B')</Filter>
    <PolygonSymbolizer fill="#00a9e6" fill-opacity="1" />
    <TextSymbolizer wrap-width="1" wrap-character="_" face-name="Open Sans Regular" fill="#003366" size="20" ><![CDATA['Region '+[LETTER]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>25000000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([LETTER] = 'B')</Filter>
    <PolygonSymbolizer fill="#00a9e6" fill-opacity="1" />
    <TextSymbolizer face-name="Open Sans Regular" fill="#003366" size="20" ><![CDATA[[LETTER]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>25000000</MinScaleDenominator>
    <Filter>([LETTER] = 'B')</Filter>
    <PolygonSymbolizer fill="#00a9e6" fill-opacity="1" />
    <TextSymbolizer face-name="Open Sans Regular" fill="#003366" size="20" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <Filter>([LETTER] = 'A')</Filter>
    <PolygonSymbolizer fill="#74c476" fill-opacity="1" />
    <TextSymbolizer wrap-width="1" wrap-character="_" face-name="Open Sans Regular" fill="#003366" size="20" ><![CDATA['Region '+[LETTER]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>25000000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([LETTER] = 'A')</Filter>
    <PolygonSymbolizer fill="#74c476" fill-opacity="1" />
    <TextSymbolizer face-name="Open Sans Regular" fill="#003366" size="20" ><![CDATA[[LETTER]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>25000000</MinScaleDenominator>
    <Filter>([LETTER] = 'A')</Filter>
    <PolygonSymbolizer fill="#74c476" fill-opacity="1" />
    <TextSymbolizer face-name="Open Sans Regular" fill="#003366" size="20" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <PolygonSymbolizer fill-opacity="1" fill="#aaee88" />
    <TextSymbolizer wrap-width="1" wrap-character="_" face-name="Open Sans Regular" fill="#003366" size="20" ><![CDATA['Region '+[LETTER]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>25000000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <PolygonSymbolizer fill-opacity="1" fill="#aaee88" />
    <TextSymbolizer face-name="Open Sans Regular" fill="#003366" size="20" ><![CDATA[[LETTER]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>25000000</MinScaleDenominator>
    <PolygonSymbolizer fill-opacity="1" fill="#aaee88" />
    <TextSymbolizer face-name="Open Sans Regular" fill="#003366" size="20" ><![CDATA[]]></TextSymbolizer>
  </Rule>
</Style>
<Layer name="rwpawithcoastnad83"
  srs="+proj=longlat +ellps=GRS80 +no_defs">
    <StyleName>rwpawithcoastnad83</StyleName>
    <Datasource>
       <Parameter name="file"><![CDATA[{{ spatial_dir }}/RWPAs//RWPA_with_Coast_NAD83.shp]]></Parameter>
       <Parameter name="id"><![CDATA[rwpawithcoastnad83]]></Parameter>
       <Parameter name="project"><![CDATA[rwpa_with_coast_nad83]]></Parameter>
       <Parameter name="srs"><![CDATA[]]></Parameter>
       <Parameter name="type"><![CDATA[shape]]></Parameter>
    </Datasource>
  </Layer>

</Map>
