<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE Map[]>
<Map srs="+proj=merc +a=6378137 +b=6378137 +lat_ts=0.0 +lon_0=0.0 +x_0=0.0 +y_0=0.0 +k=1.0 +units=m
+nadgrids=@null +wktext +no_defs +over" background-color="#00000000"
maximum-extent="-20037508.34,-20037508.34,20037508.34,20037508.34"  font-directory="{{ tilestache_font_dir }}">

<Parameters>
  <Parameter name="bounds">-180,-85.05112877980659,180,85.05112877980659</Parameter>
  <Parameter name="center">0,0,2</Parameter>
  <Parameter name="format">png</Parameter>
  <Parameter name="minzoom">0</Parameter>
  <Parameter name="maxzoom">22</Parameter>
</Parameters>


<Style name="rwpd-teams-line" filter-mode="first" >
  <Rule>
    <LineSymbolizer stroke-width="3" stroke="#666666" />
  </Rule>
</Style>
<Style name="rwpd-teams" filter-mode="first" >
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <TextSymbolizer size="50" face-name="Open Sans Regular" fill="#333333" halo-fill="rgba(255, 255, 255, 0.7)" halo-radius="2.5" ><![CDATA[[Team]]]></TextSymbolizer>
    <PolygonSymbolizer fill="#00000000" />
    <LineSymbolizer stroke-width="2.5" stroke="rgba(255, 255, 255, 0.7)" />
  </Rule>
  <Rule>
    <MaxScaleDenominator>6500000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <TextSymbolizer size="40" face-name="Open Sans Regular" fill="#333333" halo-fill="rgba(255, 255, 255, 0.7)" halo-radius="2.5" ><![CDATA[[Team]]]></TextSymbolizer>
    <PolygonSymbolizer fill="#00000000" />
    <LineSymbolizer stroke-width="2.5" stroke="rgba(255, 255, 255, 0.7)" />
  </Rule>
  <Rule>
    <MaxScaleDenominator>12500000</MaxScaleDenominator>
    <MinScaleDenominator>6500000</MinScaleDenominator>
    <TextSymbolizer face-name="Open Sans Regular" fill="#333333" size="30" halo-fill="rgba(255, 255, 255, 0.7)" halo-radius="2.5" ><![CDATA[[Team]]]></TextSymbolizer>
    <PolygonSymbolizer fill="#00000000" />
    <LineSymbolizer stroke-width="2.5" stroke="rgba(255, 255, 255, 0.7)" />
  </Rule>
  <Rule>
    <MinScaleDenominator>12500000</MinScaleDenominator>
    <TextSymbolizer face-name="Open Sans Regular" fill="#333333" size="30" halo-fill="rgba(255, 255, 255, 0.7)" halo-radius="2.5" ><![CDATA[]]></TextSymbolizer>
    <PolygonSymbolizer fill="#00000000" />
  </Rule>
</Style>
<Layer name="rwpd-teams"
  srs="+proj=longlat +ellps=GRS80 +no_defs">
    <StyleName>rwpd-teams</StyleName>
    <StyleName>rwpd-teams-line</StyleName>
    <Datasource>
       <Parameter name="file"><![CDATA[{{ spatial_dir }}/RWPD_Teams/RWPD_Teams_NAD83.shp]]></Parameter>
       <Parameter name="type"><![CDATA[shape]]></Parameter>
    </Datasource>
  </Layer>

</Map>
