<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE Map[]>
<Map srs="+proj=merc +a=6378137 +b=6378137 +lat_ts=0.0 +lon_0=0.0 +x_0=0.0 +y_0=0.0 +k=1.0 +units=m
+nadgrids=@null +wktext +no_defs +over" background-color="#00000000"
maximum-extent="-20037508.34,-20037508.34,20037508.34,20037508.34" font-directory="{{ tilestache_font_dir }}">

<Parameters>
  <Parameter name="bounds">-180,-85.05112877980659,180,85.05112877980659</Parameter>
  <Parameter name="center">0,0,2</Parameter>
  <Parameter name="format">png</Parameter>
  <Parameter name="minzoom">0</Parameter>
  <Parameter name="maxzoom">22</Parameter>
</Parameters>


<Style name="texas-senate" filter-mode="first" >
  <Rule>
    <Filter>([District] = 31)</Filter>
    <LineSymbolizer stroke="#c4a272" stroke-width="2" stroke-linejoin="round" />
    <PolygonSymbolizer fill="#fed9a6" />
  </Rule>
  <Rule>
    <Filter>([District] = 30)</Filter>
    <LineSymbolizer stroke="#c4a3b4" stroke-width="2" stroke-linejoin="round" />
    <PolygonSymbolizer fill="#fddaec" />
  </Rule>
  <Rule>
    <Filter>([District] = 29)</Filter>
    <LineSymbolizer stroke="#5a8d77" stroke-width="2" stroke-linejoin="round" />
    <PolygonSymbolizer fill="#8ec3ab" />
  </Rule>
  <Rule>
    <Filter>([District] = 28)</Filter>
    <LineSymbolizer stroke="#ada188" stroke-width="2" stroke-linejoin="round" />
    <PolygonSymbolizer fill="#e5d8bd" />
  </Rule>
  <Rule>
    <Filter>([District] = 27)</Filter>
    <LineSymbolizer stroke="#a795ad" stroke-width="2" stroke-linejoin="round" />
    <PolygonSymbolizer fill="#decbe4" />
  </Rule>
  <Rule>
    <Filter>([District] = 26)</Filter>
    <LineSymbolizer stroke="#96b38f" stroke-width="2" stroke-linejoin="round" />
    <PolygonSymbolizer fill="#ccebc5" />
  </Rule>
  <Rule>
    <Filter>([District] = 25)</Filter>
    <LineSymbolizer stroke="#c17f7a" stroke-width="2" stroke-linejoin="round" />
    <PolygonSymbolizer fill="#fbb4ae" />
  </Rule>
  <Rule>
    <Filter>([District] = 24)</Filter>
    <LineSymbolizer stroke="#7dab97" stroke-width="2" stroke-linejoin="round" />
    <PolygonSymbolizer fill="#b3e2cd" />
  </Rule>
  <Rule>
    <Filter>([District] = 23)</Filter>
    <LineSymbolizer stroke="#c4a272" stroke-width="2" stroke-linejoin="round" />
    <PolygonSymbolizer fill="#fed9a6" />
  </Rule>
  <Rule>
    <Filter>([District] = 22)</Filter>
    <LineSymbolizer stroke="#ada188" stroke-width="2" stroke-linejoin="round" />
    <PolygonSymbolizer fill="#e5d8bd" />
  </Rule>
  <Rule>
    <Filter>([District] = 21)</Filter>
    <LineSymbolizer stroke="#c4a272" stroke-width="2" stroke-linejoin="round" />
    <PolygonSymbolizer fill="#fed9a6" />
  </Rule>
  <Rule>
    <Filter>([District] = 20)</Filter>
    <LineSymbolizer stroke="#7dab97" stroke-width="2" stroke-linejoin="round" />
    <PolygonSymbolizer fill="#b3e2cd" />
  </Rule>
  <Rule>
    <Filter>([District] = 19)</Filter>
    <LineSymbolizer stroke="#8fa0b0" stroke-width="2" stroke-linejoin="round" />
    <PolygonSymbolizer fill="#c5d7e8" />
  </Rule>
  <Rule>
    <Filter>([District] = 18)</Filter>
    <LineSymbolizer stroke="#aebd93" stroke-width="2" stroke-linejoin="round" />
    <PolygonSymbolizer fill="#e6f5c9" />
  </Rule>
  <Rule>
    <Filter>([District] = 17)</Filter>
    <LineSymbolizer stroke="#ada188" stroke-width="2" stroke-linejoin="round" />
    <PolygonSymbolizer fill="#e5d8bd" />
  </Rule>
  <Rule>
    <Filter>([District] = 16)</Filter>
    <LineSymbolizer stroke="#96b38f" stroke-width="2" stroke-linejoin="round" />
    <PolygonSymbolizer fill="#ccebc5" />
  </Rule>
  <Rule>
    <Filter>([District] = 15)</Filter>
    <LineSymbolizer stroke="#c4a272" stroke-width="2" stroke-linejoin="round" />
    <PolygonSymbolizer fill="#fed9a6" />
  </Rule>
  <Rule>
    <Filter>([District] = 14)</Filter>
    <LineSymbolizer stroke="#5a8d77" stroke-width="2" stroke-linejoin="round" />
    <PolygonSymbolizer fill="#8ec3ab" />
  </Rule>
  <Rule>
    <Filter>([District] = 13)</Filter>
    <LineSymbolizer stroke="#5a8d77" stroke-width="2" stroke-linejoin="round" />
    <PolygonSymbolizer fill="#8ec3ab" />
  </Rule>
  <Rule>
    <Filter>([District] = 12)</Filter>
    <LineSymbolizer stroke="#c6c696" stroke-width="2" stroke-linejoin="round" />
    <PolygonSymbolizer fill="#ffffcc" />
  </Rule>
  <Rule>
    <Filter>([District] = 11)</Filter>
    <LineSymbolizer stroke="#c17f7a" stroke-width="2" stroke-linejoin="round" />
    <PolygonSymbolizer fill="#fbb4ae" />
  </Rule>
  <Rule>
    <Filter>([District] = 10)</Filter>
    <LineSymbolizer stroke="#5a8d77" stroke-width="2" stroke-linejoin="round" />
    <PolygonSymbolizer fill="#8ec3ab" />
  </Rule>
  <Rule>
    <Filter>([District] = 9)</Filter>
    <LineSymbolizer stroke="#c17f7a" stroke-width="2" stroke-linejoin="round" />
    <PolygonSymbolizer fill="#fbb4ae" />
  </Rule>
  <Rule>
    <Filter>([District] = 8)</Filter>
    <LineSymbolizer stroke="#ada188" stroke-width="2" stroke-linejoin="round" />
    <PolygonSymbolizer fill="#e5d8bd" />
  </Rule>
  <Rule>
    <Filter>([District] = 7)</Filter>
    <LineSymbolizer stroke="#8fa0b0" stroke-width="2" stroke-linejoin="round" />
    <PolygonSymbolizer fill="#c5d7e8" />
  </Rule>
  <Rule>
    <Filter>([District] = 6)</Filter>
    <LineSymbolizer stroke="#c6c696" stroke-width="2" stroke-linejoin="round" />
    <PolygonSymbolizer fill="#ffffcc" />
  </Rule>
  <Rule>
    <Filter>([District] = 5)</Filter>
    <LineSymbolizer stroke="#c6c696" stroke-width="2" stroke-linejoin="round" />
    <PolygonSymbolizer fill="#ffffcc" />
  </Rule>
  <Rule>
    <Filter>([District] = 4)</Filter>
    <LineSymbolizer stroke="#a795ad" stroke-width="2" stroke-linejoin="round" />
    <PolygonSymbolizer fill="#decbe4" />
  </Rule>
  <Rule>
    <Filter>([District] = 3)</Filter>
    <LineSymbolizer stroke="#7dab97" stroke-width="2" stroke-linejoin="round" />
    <PolygonSymbolizer fill="#b3e2cd" />
  </Rule>
  <Rule>
    <Filter>([District] = 2)</Filter>
    <LineSymbolizer stroke="#c6c696" stroke-width="2" stroke-linejoin="round" />
    <PolygonSymbolizer fill="#ffffcc" />
  </Rule>
  <Rule>
    <Filter>([District] = 1)</Filter>
    <LineSymbolizer stroke="#ada188" stroke-width="2" stroke-linejoin="round" />
    <PolygonSymbolizer fill="#e5d8bd" />
  </Rule>
  <Rule>
    <LineSymbolizer stroke-width="2" stroke-linejoin="round" />
  </Rule>
</Style>
<Layer name="texas-senate"
  srs="+proj=lcc +lat_1=34.91666666666666 +lat_2=27.41666666666667 +lat_0=31.16666666666667 +lon_0=-100 +x_0=1000000 +y_0=1000000 +datum=NAD83 +units=m +no_defs">
    <StyleName>texas-senate</StyleName>
    <Datasource>
       <Parameter name="file"><![CDATA[{{ spatial_dir }}/TexasSenateDistricts/TX_SENATE_PlanS172_with_detailed_coast.shp]]></Parameter>
       <Parameter name="id"><![CDATA[txsenateplans172with]]></Parameter>
       <Parameter name="project"><![CDATA[texas-senate-districts-s172]]></Parameter>
       <Parameter name="srs"><![CDATA[]]></Parameter>
       <Parameter name="type"><![CDATA[shape]]></Parameter>
    </Datasource>
  </Layer>

<Style name="texas-senate-label-points" filter-mode="first" >
  <Rule>
    <MaxScaleDenominator>1500000</MaxScaleDenominator>
    <Filter>([District] = 31)</Filter>
    <TextSymbolizer fill="#8d6f41" halo-fill="#fed9a6" size="20" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <MinScaleDenominator>1500000</MinScaleDenominator>
    <Filter>([District] = 31)</Filter>
    <TextSymbolizer fill="#8d6f41" halo-fill="#fed9a6" size="15" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>6500000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([District] = 31)</Filter>
    <TextSymbolizer fill="#8d6f41" halo-fill="#fed9a6" size="12" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>6500000</MinScaleDenominator>
    <Filter>([District] = 31)</Filter>
    <TextSymbolizer fill="#8d6f41" halo-fill="#fed9a6" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" size="0" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>1500000</MaxScaleDenominator>
    <Filter>([District] = 30)</Filter>
    <TextSymbolizer fill="#8e6f80" halo-fill="#fddaec" size="20" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <MinScaleDenominator>1500000</MinScaleDenominator>
    <Filter>([District] = 30)</Filter>
    <TextSymbolizer fill="#8e6f80" halo-fill="#fddaec" size="15" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>6500000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([District] = 30)</Filter>
    <TextSymbolizer fill="#8e6f80" halo-fill="#fddaec" size="12" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>6500000</MinScaleDenominator>
    <Filter>([District] = 30)</Filter>
    <TextSymbolizer fill="#8e6f80" halo-fill="#fddaec" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" size="0" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>1500000</MaxScaleDenominator>
    <Filter>([District] = 29)</Filter>
    <TextSymbolizer fill="#295b47" halo-fill="#8ec3ab" size="20" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <MinScaleDenominator>1500000</MinScaleDenominator>
    <Filter>([District] = 29)</Filter>
    <TextSymbolizer fill="#295b47" halo-fill="#8ec3ab" size="15" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>6500000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([District] = 29)</Filter>
    <TextSymbolizer fill="#295b47" halo-fill="#8ec3ab" size="12" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>6500000</MinScaleDenominator>
    <Filter>([District] = 29)</Filter>
    <TextSymbolizer fill="#295b47" halo-fill="#8ec3ab" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" size="0" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>1500000</MaxScaleDenominator>
    <Filter>([District] = 28)</Filter>
    <TextSymbolizer fill="#796e56" halo-fill="#e5d8bd" size="20" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <MinScaleDenominator>1500000</MinScaleDenominator>
    <Filter>([District] = 28)</Filter>
    <TextSymbolizer fill="#796e56" halo-fill="#e5d8bd" size="15" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>6500000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([District] = 28)</Filter>
    <TextSymbolizer fill="#796e56" halo-fill="#e5d8bd" size="12" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>6500000</MinScaleDenominator>
    <Filter>([District] = 28)</Filter>
    <TextSymbolizer fill="#796e56" halo-fill="#e5d8bd" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" size="0" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>1500000</MaxScaleDenominator>
    <Filter>([District] = 27)</Filter>
    <TextSymbolizer fill="#736278" halo-fill="#decbe4" size="20" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <MinScaleDenominator>1500000</MinScaleDenominator>
    <Filter>([District] = 27)</Filter>
    <TextSymbolizer fill="#736278" halo-fill="#decbe4" size="15" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>6500000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([District] = 27)</Filter>
    <TextSymbolizer fill="#736278" halo-fill="#decbe4" size="12" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>6500000</MinScaleDenominator>
    <Filter>([District] = 27)</Filter>
    <TextSymbolizer fill="#736278" halo-fill="#decbe4" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" size="0" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>1500000</MaxScaleDenominator>
    <Filter>([District] = 26)</Filter>
    <TextSymbolizer fill="#627e5d" halo-fill="#ccebc5" size="20" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <MinScaleDenominator>1500000</MinScaleDenominator>
    <Filter>([District] = 26)</Filter>
    <TextSymbolizer fill="#627e5d" halo-fill="#ccebc5" size="15" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>6500000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([District] = 26)</Filter>
    <TextSymbolizer fill="#627e5d" halo-fill="#ccebc5" size="12" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>6500000</MinScaleDenominator>
    <Filter>([District] = 26)</Filter>
    <TextSymbolizer fill="#627e5d" halo-fill="#ccebc5" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" size="0" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>1500000</MaxScaleDenominator>
    <Filter>([District] = 25)</Filter>
    <TextSymbolizer fill="#894d49" halo-fill="#fbb4ae" size="20" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <MinScaleDenominator>1500000</MinScaleDenominator>
    <Filter>([District] = 25)</Filter>
    <TextSymbolizer fill="#894d49" halo-fill="#fbb4ae" size="15" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>6500000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([District] = 25)</Filter>
    <TextSymbolizer fill="#894d49" halo-fill="#fbb4ae" size="12" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>6500000</MinScaleDenominator>
    <Filter>([District] = 25)</Filter>
    <TextSymbolizer fill="#894d49" halo-fill="#fbb4ae" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" size="0" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>1500000</MaxScaleDenominator>
    <Filter>([District] = 24)</Filter>
    <TextSymbolizer fill="#4b7664" halo-fill="#b3e2cd" size="20" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <MinScaleDenominator>1500000</MinScaleDenominator>
    <Filter>([District] = 24)</Filter>
    <TextSymbolizer fill="#4b7664" halo-fill="#b3e2cd" size="15" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>6500000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([District] = 24)</Filter>
    <TextSymbolizer fill="#4b7664" halo-fill="#b3e2cd" size="12" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>6500000</MinScaleDenominator>
    <Filter>([District] = 24)</Filter>
    <TextSymbolizer fill="#4b7664" halo-fill="#b3e2cd" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" size="0" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>1500000</MaxScaleDenominator>
    <Filter>([District] = 23)</Filter>
    <TextSymbolizer fill="#8d6f41" halo-fill="#fed9a6" size="20" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <MinScaleDenominator>1500000</MinScaleDenominator>
    <Filter>([District] = 23)</Filter>
    <TextSymbolizer fill="#8d6f41" halo-fill="#fed9a6" size="15" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>6500000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([District] = 23)</Filter>
    <TextSymbolizer fill="#8d6f41" halo-fill="#fed9a6" size="12" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>6500000</MinScaleDenominator>
    <Filter>([District] = 23)</Filter>
    <TextSymbolizer fill="#8d6f41" halo-fill="#fed9a6" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" size="0" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>1500000</MaxScaleDenominator>
    <Filter>([District] = 22)</Filter>
    <TextSymbolizer fill="#796e56" halo-fill="#e5d8bd" size="20" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <MinScaleDenominator>1500000</MinScaleDenominator>
    <Filter>([District] = 22)</Filter>
    <TextSymbolizer fill="#796e56" halo-fill="#e5d8bd" size="15" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>6500000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([District] = 22)</Filter>
    <TextSymbolizer fill="#796e56" halo-fill="#e5d8bd" size="12" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>6500000</MinScaleDenominator>
    <Filter>([District] = 22)</Filter>
    <TextSymbolizer fill="#796e56" halo-fill="#e5d8bd" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" size="0" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>1500000</MaxScaleDenominator>
    <Filter>([District] = 21)</Filter>
    <TextSymbolizer fill="#8d6f41" halo-fill="#fed9a6" size="20" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <MinScaleDenominator>1500000</MinScaleDenominator>
    <Filter>([District] = 21)</Filter>
    <TextSymbolizer fill="#8d6f41" halo-fill="#fed9a6" size="15" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>6500000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([District] = 21)</Filter>
    <TextSymbolizer fill="#8d6f41" halo-fill="#fed9a6" size="12" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>6500000</MinScaleDenominator>
    <Filter>([District] = 21)</Filter>
    <TextSymbolizer fill="#8d6f41" halo-fill="#fed9a6" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" size="0" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>1500000</MaxScaleDenominator>
    <Filter>([District] = 20)</Filter>
    <TextSymbolizer fill="#4b7664" halo-fill="#b3e2cd" size="20" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <MinScaleDenominator>1500000</MinScaleDenominator>
    <Filter>([District] = 20)</Filter>
    <TextSymbolizer fill="#4b7664" halo-fill="#b3e2cd" size="15" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>6500000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([District] = 20)</Filter>
    <TextSymbolizer fill="#4b7664" halo-fill="#b3e2cd" size="12" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>6500000</MinScaleDenominator>
    <Filter>([District] = 20)</Filter>
    <TextSymbolizer fill="#4b7664" halo-fill="#b3e2cd" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" size="0" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>1500000</MaxScaleDenominator>
    <Filter>([District] = 19)</Filter>
    <TextSymbolizer fill="#5c6d7c" halo-fill="#c5d7e8" size="20" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <MinScaleDenominator>1500000</MinScaleDenominator>
    <Filter>([District] = 19)</Filter>
    <TextSymbolizer fill="#5c6d7c" halo-fill="#c5d7e8" size="15" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>6500000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([District] = 19)</Filter>
    <TextSymbolizer fill="#5c6d7c" halo-fill="#c5d7e8" size="12" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>6500000</MinScaleDenominator>
    <Filter>([District] = 19)</Filter>
    <TextSymbolizer fill="#5c6d7c" halo-fill="#c5d7e8" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" size="0" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>1500000</MaxScaleDenominator>
    <Filter>([District] = 18)</Filter>
    <TextSymbolizer fill="#798760" halo-fill="#e6f5c9" size="20" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <MinScaleDenominator>1500000</MinScaleDenominator>
    <Filter>([District] = 18)</Filter>
    <TextSymbolizer fill="#798760" halo-fill="#e6f5c9" size="15" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>6500000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([District] = 18)</Filter>
    <TextSymbolizer fill="#798760" halo-fill="#e6f5c9" size="12" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>6500000</MinScaleDenominator>
    <Filter>([District] = 18)</Filter>
    <TextSymbolizer fill="#798760" halo-fill="#e6f5c9" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" size="0" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>1500000</MaxScaleDenominator>
    <Filter>([District] = 17)</Filter>
    <TextSymbolizer fill="#796e56" halo-fill="#e5d8bd" size="20" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <MinScaleDenominator>1500000</MinScaleDenominator>
    <Filter>([District] = 17)</Filter>
    <TextSymbolizer fill="#796e56" halo-fill="#e5d8bd" size="15" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>6500000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([District] = 17)</Filter>
    <TextSymbolizer fill="#796e56" halo-fill="#e5d8bd" size="12" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>6500000</MinScaleDenominator>
    <Filter>([District] = 17)</Filter>
    <TextSymbolizer fill="#796e56" halo-fill="#e5d8bd" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" size="0" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>1500000</MaxScaleDenominator>
    <Filter>([District] = 16)</Filter>
    <TextSymbolizer fill="#627e5d" halo-fill="#ccebc5" size="20" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <MinScaleDenominator>1500000</MinScaleDenominator>
    <Filter>([District] = 16)</Filter>
    <TextSymbolizer fill="#627e5d" halo-fill="#ccebc5" size="15" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>6500000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([District] = 16)</Filter>
    <TextSymbolizer fill="#627e5d" halo-fill="#ccebc5" size="12" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>6500000</MinScaleDenominator>
    <Filter>([District] = 16)</Filter>
    <TextSymbolizer fill="#627e5d" halo-fill="#ccebc5" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" size="0" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>1500000</MaxScaleDenominator>
    <Filter>([District] = 15)</Filter>
    <TextSymbolizer fill="#8d6f41" halo-fill="#fed9a6" size="20" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <MinScaleDenominator>1500000</MinScaleDenominator>
    <Filter>([District] = 15)</Filter>
    <TextSymbolizer fill="#8d6f41" halo-fill="#fed9a6" size="15" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>6500000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([District] = 15)</Filter>
    <TextSymbolizer fill="#8d6f41" halo-fill="#fed9a6" size="12" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>6500000</MinScaleDenominator>
    <Filter>([District] = 15)</Filter>
    <TextSymbolizer fill="#8d6f41" halo-fill="#fed9a6" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" size="0" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>1500000</MaxScaleDenominator>
    <Filter>([District] = 14)</Filter>
    <TextSymbolizer fill="#295b47" halo-fill="#8ec3ab" size="20" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <MinScaleDenominator>1500000</MinScaleDenominator>
    <Filter>([District] = 14)</Filter>
    <TextSymbolizer fill="#295b47" halo-fill="#8ec3ab" size="15" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>6500000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([District] = 14)</Filter>
    <TextSymbolizer fill="#295b47" halo-fill="#8ec3ab" size="12" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>6500000</MinScaleDenominator>
    <Filter>([District] = 14)</Filter>
    <TextSymbolizer fill="#295b47" halo-fill="#8ec3ab" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" size="0" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>1500000</MaxScaleDenominator>
    <Filter>([District] = 13)</Filter>
    <TextSymbolizer fill="#295b47" halo-fill="#8ec3ab" size="20" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <MinScaleDenominator>1500000</MinScaleDenominator>
    <Filter>([District] = 13)</Filter>
    <TextSymbolizer fill="#295b47" halo-fill="#8ec3ab" size="15" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>6500000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([District] = 13)</Filter>
    <TextSymbolizer fill="#295b47" halo-fill="#8ec3ab" size="12" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>6500000</MinScaleDenominator>
    <Filter>([District] = 13)</Filter>
    <TextSymbolizer fill="#295b47" halo-fill="#8ec3ab" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" size="0" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>1500000</MaxScaleDenominator>
    <Filter>([District] = 12)</Filter>
    <TextSymbolizer fill="#909162" halo-fill="#ffffcc" size="20" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <MinScaleDenominator>1500000</MinScaleDenominator>
    <Filter>([District] = 12)</Filter>
    <TextSymbolizer fill="#909162" halo-fill="#ffffcc" size="15" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>6500000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([District] = 12)</Filter>
    <TextSymbolizer fill="#909162" halo-fill="#ffffcc" size="12" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>6500000</MinScaleDenominator>
    <Filter>([District] = 12)</Filter>
    <TextSymbolizer fill="#909162" halo-fill="#ffffcc" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" size="0" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>1500000</MaxScaleDenominator>
    <Filter>([District] = 11)</Filter>
    <TextSymbolizer fill="#894d49" halo-fill="#fbb4ae" size="20" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <MinScaleDenominator>1500000</MinScaleDenominator>
    <Filter>([District] = 11)</Filter>
    <TextSymbolizer fill="#894d49" halo-fill="#fbb4ae" size="15" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>6500000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([District] = 11)</Filter>
    <TextSymbolizer fill="#894d49" halo-fill="#fbb4ae" size="12" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>6500000</MinScaleDenominator>
    <Filter>([District] = 11)</Filter>
    <TextSymbolizer fill="#894d49" halo-fill="#fbb4ae" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" size="0" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>1500000</MaxScaleDenominator>
    <Filter>([District] = 10)</Filter>
    <TextSymbolizer fill="#295b47" halo-fill="#8ec3ab" size="20" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <MinScaleDenominator>1500000</MinScaleDenominator>
    <Filter>([District] = 10)</Filter>
    <TextSymbolizer fill="#295b47" halo-fill="#8ec3ab" size="15" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>6500000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([District] = 10)</Filter>
    <TextSymbolizer fill="#295b47" halo-fill="#8ec3ab" size="12" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>6500000</MinScaleDenominator>
    <Filter>([District] = 10)</Filter>
    <TextSymbolizer fill="#295b47" halo-fill="#8ec3ab" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" size="0" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>1500000</MaxScaleDenominator>
    <Filter>([District] = 9)</Filter>
    <TextSymbolizer fill="#894d49" halo-fill="#fbb4ae" size="20" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <MinScaleDenominator>1500000</MinScaleDenominator>
    <Filter>([District] = 9)</Filter>
    <TextSymbolizer fill="#894d49" halo-fill="#fbb4ae" size="15" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>6500000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([District] = 9)</Filter>
    <TextSymbolizer fill="#894d49" halo-fill="#fbb4ae" size="12" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>6500000</MinScaleDenominator>
    <Filter>([District] = 9)</Filter>
    <TextSymbolizer fill="#894d49" halo-fill="#fbb4ae" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" size="0" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>1500000</MaxScaleDenominator>
    <Filter>([District] = 8)</Filter>
    <TextSymbolizer fill="#796e56" halo-fill="#e5d8bd" size="20" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <MinScaleDenominator>1500000</MinScaleDenominator>
    <Filter>([District] = 8)</Filter>
    <TextSymbolizer fill="#796e56" halo-fill="#e5d8bd" size="15" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>6500000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([District] = 8)</Filter>
    <TextSymbolizer fill="#796e56" halo-fill="#e5d8bd" size="12" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>6500000</MinScaleDenominator>
    <Filter>([District] = 8)</Filter>
    <TextSymbolizer fill="#796e56" halo-fill="#e5d8bd" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" size="0" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>1500000</MaxScaleDenominator>
    <Filter>([District] = 7)</Filter>
    <TextSymbolizer fill="#5c6d7c" halo-fill="#c5d7e8" size="20" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <MinScaleDenominator>1500000</MinScaleDenominator>
    <Filter>([District] = 7)</Filter>
    <TextSymbolizer fill="#5c6d7c" halo-fill="#c5d7e8" size="15" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>6500000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([District] = 7)</Filter>
    <TextSymbolizer fill="#5c6d7c" halo-fill="#c5d7e8" size="12" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>6500000</MinScaleDenominator>
    <Filter>([District] = 7)</Filter>
    <TextSymbolizer fill="#5c6d7c" halo-fill="#c5d7e8" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" size="0" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>1500000</MaxScaleDenominator>
    <Filter>([District] = 6)</Filter>
    <TextSymbolizer fill="#909162" halo-fill="#ffffcc" size="20" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <MinScaleDenominator>1500000</MinScaleDenominator>
    <Filter>([District] = 6)</Filter>
    <TextSymbolizer fill="#909162" halo-fill="#ffffcc" size="15" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>6500000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([District] = 6)</Filter>
    <TextSymbolizer fill="#909162" halo-fill="#ffffcc" size="12" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>6500000</MinScaleDenominator>
    <Filter>([District] = 6)</Filter>
    <TextSymbolizer fill="#909162" halo-fill="#ffffcc" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" size="0" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>1500000</MaxScaleDenominator>
    <Filter>([District] = 5)</Filter>
    <TextSymbolizer fill="#909162" halo-fill="#ffffcc" size="20" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <MinScaleDenominator>1500000</MinScaleDenominator>
    <Filter>([District] = 5)</Filter>
    <TextSymbolizer fill="#909162" halo-fill="#ffffcc" size="15" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>6500000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([District] = 5)</Filter>
    <TextSymbolizer fill="#909162" halo-fill="#ffffcc" size="12" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>6500000</MinScaleDenominator>
    <Filter>([District] = 5)</Filter>
    <TextSymbolizer fill="#909162" halo-fill="#ffffcc" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" size="0" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>1500000</MaxScaleDenominator>
    <Filter>([District] = 4)</Filter>
    <TextSymbolizer fill="#736278" halo-fill="#decbe4" size="20" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <MinScaleDenominator>1500000</MinScaleDenominator>
    <Filter>([District] = 4)</Filter>
    <TextSymbolizer fill="#736278" halo-fill="#decbe4" size="15" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>6500000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([District] = 4)</Filter>
    <TextSymbolizer fill="#736278" halo-fill="#decbe4" size="12" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>6500000</MinScaleDenominator>
    <Filter>([District] = 4)</Filter>
    <TextSymbolizer fill="#736278" halo-fill="#decbe4" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" size="0" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>1500000</MaxScaleDenominator>
    <Filter>([District] = 3)</Filter>
    <TextSymbolizer fill="#4b7664" halo-fill="#b3e2cd" size="20" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <MinScaleDenominator>1500000</MinScaleDenominator>
    <Filter>([District] = 3)</Filter>
    <TextSymbolizer fill="#4b7664" halo-fill="#b3e2cd" size="15" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>6500000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([District] = 3)</Filter>
    <TextSymbolizer fill="#4b7664" halo-fill="#b3e2cd" size="12" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>6500000</MinScaleDenominator>
    <Filter>([District] = 3)</Filter>
    <TextSymbolizer fill="#4b7664" halo-fill="#b3e2cd" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" size="0" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>1500000</MaxScaleDenominator>
    <Filter>([District] = 2)</Filter>
    <TextSymbolizer fill="#909162" halo-fill="#ffffcc" size="20" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <MinScaleDenominator>1500000</MinScaleDenominator>
    <Filter>([District] = 2)</Filter>
    <TextSymbolizer fill="#909162" halo-fill="#ffffcc" size="15" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>6500000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([District] = 2)</Filter>
    <TextSymbolizer fill="#909162" halo-fill="#ffffcc" size="12" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>6500000</MinScaleDenominator>
    <Filter>([District] = 2)</Filter>
    <TextSymbolizer fill="#909162" halo-fill="#ffffcc" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" size="0" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>1500000</MaxScaleDenominator>
    <Filter>([District] = 1)</Filter>
    <TextSymbolizer fill="#796e56" halo-fill="#e5d8bd" size="20" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <MinScaleDenominator>1500000</MinScaleDenominator>
    <Filter>([District] = 1)</Filter>
    <TextSymbolizer fill="#796e56" halo-fill="#e5d8bd" size="15" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>6500000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <Filter>([District] = 1)</Filter>
    <TextSymbolizer fill="#796e56" halo-fill="#e5d8bd" size="12" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>6500000</MinScaleDenominator>
    <Filter>([District] = 1)</Filter>
    <TextSymbolizer fill="#796e56" halo-fill="#e5d8bd" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" size="0" ><![CDATA[]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>1500000</MaxScaleDenominator>
    <TextSymbolizer size="20" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>3000000</MaxScaleDenominator>
    <MinScaleDenominator>1500000</MinScaleDenominator>
    <TextSymbolizer size="15" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MaxScaleDenominator>6500000</MaxScaleDenominator>
    <MinScaleDenominator>3000000</MinScaleDenominator>
    <TextSymbolizer size="12" face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" ><![CDATA[[District]]]></TextSymbolizer>
  </Rule>
  <Rule>
    <MinScaleDenominator>6500000</MinScaleDenominator>
    <TextSymbolizer face-name="Open Sans Regular" halo-radius="1" minimum-distance="5" placement="vertex" size="0" ><![CDATA[]]></TextSymbolizer>
  </Rule>
</Style>
<Layer name="texas-senate-label-points"
  srs="+proj=lcc +lat_1=27.41666666666667 +lat_2=34.91666666666666 +lat_0=31.16666666666667 +lon_0=-100 +x_0=1000000 +y_0=1000000 +datum=NAD83 +units=m +no_defs">
    <StyleName>texas-senate-label-points</StyleName>
    <Datasource>
       <Parameter name="file"><![CDATA[{{ spatial_dir }}/TexasSenateDistricts/TX_SENATE_PlanS172_with_detailed_coast_label_points.shp]]></Parameter>
       <Parameter name="id"><![CDATA[texas-senate-label-points]]></Parameter>
       <Parameter name="project"><![CDATA[texas-senate-districts-s172]]></Parameter>
       <Parameter name="srs"><![CDATA[]]></Parameter>
       <Parameter name="type"><![CDATA[shape]]></Parameter>
    </Datasource>
  </Layer>

</Map>
