<div class="view-select-container">
  <div class="row">
    <div class="col-md-12 hidden-xs">
      <p>Select an area or entity from the following dropdowns:</p>
    </div>
    <div class="col-md-12 visible-xs">
      <p>Select an area from the following dropdowns:</p>
    </div>
  </div>

  <div class="row hidden-xs">
    <div class="col-md-3">
      <select ui-select2 class="view-select" ng-model="selectedRegion" data-placeholder="Select a Type">
          <option value=""></option>
          <option ng-repeat="region in regions" value="{{region}}">
            Region {{region}}
          </option>
      </select>
    </div>

    <div class="col-md-3">
      <select ui-select2 class="view-select" ng-model="selectedRegion" data-placeholder="Select a Region">
          <option value=""></option>
          <option ng-repeat="region in regions" value="{{region}}">
            Region {{region}}
          </option>
      </select>
    </div>

    <div class="col-md-3">
      <select ui-select2 class="view-select" ng-model="selectedCounty" data-placeholder="Select a County">
          <option value=""></option>
          <option ng-repeat="county in counties" value="{{county}}">
            {{county | titleize}}
          </option>
      </select>
    </div>

    <div class="col-md-3">
      <input type="text" ui-select2="entitySelectOpts" data-placeholder="Find an Entity"
        class="view-select" ng-model="selectedEntity">
      </input>
    </div>
  </div>

  <div class="row visible-xs">
    <div class="col-sm-4 text-center">
      <select class="view-select" ng-model="selectedRegion" data-placeholder="Select a Region">
          <option value="" disabled>Select a Type</option>
          <option ng-repeat="region in regions" value="{{region}}">
            Region {{region}}
          </option>
      </select>
    </div>

    <br>

    <div class="col-sm-4 text-center">
      <select class="view-select" ng-model="selectedRegion" data-placeholder="Select a Region">
          <option value="" disabled>Select a Region</option>
          <option ng-repeat="region in regions" value="{{region}}">
            Region {{region}}
          </option>
      </select>
    </div>

    <br>

    <div class="col-sm-4 text-center">
      <select class="view-select" ng-model="selectedCounty" data-placeholder="Select a County">
          <option value="" disabled>Select a County</option>
          <option ng-repeat="county in counties" value="{{county}}">
            {{county | titleize}}
          </option>
      </select>
    </div>



  </div>
</div>

