<!doctype html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title>2012 Texas State Water Plan</title>
    <meta name="description" content="Interactive Texas State Water Plan from the Texas Water Development Board">
    <meta name="viewport" content="width=device-width">
    <meta name="google-site-verification" content="32ucpvdYP24Ur2zsdU4w9GUZ5ivQ01wWiCN2bpDIBcg" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
    <link href='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.css' rel='stylesheet' />
    <link rel="stylesheet" href="styles/vendor.css">
    <link rel="stylesheet" href="styles/main.css">
    <link type="text/plain" rel="author" href="/humans.txt" />
    <meta name="google-site-verification" content="32ucpvdYP24Ur2zsdU4w9GUZ5ivQ01wWiCN2bpDIBcg" />
  </head>
  <body ng-app="iswpApp" ng-cloak>
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" title="browsehappy">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container">

      {% include "partials/_header.html" %}

      <div class="row">
        <div class="col-md-12">
          <div callout class="callout-note" closeable="true">
            <p>
              <i class="fa fa-info-circle"></i>
                This application displays water planning information on which the 2012 State Water Plan is based. Each water user group is mapped to a single point near its primary location; therefore, an entity with a large or multiple
                service areas may be displayed outside the specific area being queried. The map views are schematic, summarizing and displaying available data with some limitations. Some water sources, for example, may not be shown on
                the map but will be appear in tables below.
              </p>
            <p>
              For additional information see the <a href="http://www.twdb.texas.gov/waterplanning/swp/2012/" title="2012 State Water Plan">2012 State Water Plan</a>
              or the <a href="http://www.twdb.texas.gov/waterplanning/rwp/plans/2011/" title="2011 Regional Water Plans">2011 Regional Water Plans</a>.
            </p>
          </div>
        </div>
      </div>

      <noscript>
        <div class="row">
          <div class="col-md-12">
            <div class="callout callout-danger">
              <h4><i class="fa fa-warning"></i> Error: Javascript is Required!</h4>
              Javascript is required to use the Interactive State Water Plan Application. <br />
              Please enable Javascript in your browser, or visit <a title="2011 Regional Water Plans" href="http://www.twdb.texas.gov/waterplanning/rwp/plans/2011/">http://www.twdb.texas.gov/waterplanning/rwp/plans/2011/</a>
              to view Regional Water Plan data in the traditional viewer.
            </div>
          </div>
        </div>
      </noscript>

      {% raw %}
      <div class="row" ng-controller="WrapCtrl">
        <div class="col-md-12">

          <div theme-navs></div>

          <div class="row">
            <div class="col-md-12 view-intro-text">
              <p ng-show="isParentState('demands')">
                Projected water <a href="/about#water-demand" target="_blank" title="Glossary: demand"><strong>demand</strong></a> is the quantity of water projected to meet the overall necessities of a water user group in a specific future year.
              </p>
              <p ng-show="isParentState('supplies')">
                Existing <a href="/about#existing-water-supply" target="_blank" title="Glossary: water supply"><strong>water supplies</strong></a> are the maximum amount of water available from existing sources for use during drought of record conditions that is physically and legally available for use.
              </p>
              <p ng-show="isParentState('needs')">
                Identified water
                <a href="/about#needs" target="_blank" title="Glossary: needs"><strong popover="<img src='/images/needs_graphic_300.png' title='' alt='' width='300' height='85' />" popover-trigger="mouseenter">needs</strong></a>
                are projected water demands in excess of existing water supplies during drought of record conditions (i.e., <strong>potential shortage</strong> if no water management strategy is implemented).
              </p>
              <div ng-show="isParentState('strategies')">
                <p>
                  A <a href="/about#water-management-strategy" target="_blank" title="Glossary: water management strategy"><strong>recommended water management strategy</strong></a> is a specific project or action to increase water supply or maximize existing supply to meet a specific need.
                </p>
                <p>
                  Water management strategies and volumes shown are those associated with water user groups.  Some additional volumes associated solely with wholesale provider strategies are not shown.
                </p>
              </div>

            </div>
          </div>

          <div view-selects></div>

          <h3 class="view-title">{{heading}} - {{currentYear}}</h3>

          <div class="row map-top-container" >
            <div class="year-select-container">
              <div year-select class="col-md-6"></div>
            </div>

            <div map-controls class="col-md-6"></div>
          </div>

          <div iswp-map class="main-map" ng-hide="mapHidden">
          </div>

          <div class="row" ng-hide="isChildState('summary')">
            <div class="col-md-12 map-note">
              <p class="small">
                Some entities (e.g., county-wide entities) have overlapping locations.
                Clicking on such entities will expand the group so that they may be viewed individually.
              </p>
            </div>
          </div>

          <div class="row loader-container" ng-show="isStateChanging">
            <div class="col-md-6 col-md-push-3 text-center">
              LOADING<br>
              <img src="/images/loading_bar.gif" alt="Loading"/>
            </div>
          </div>
          <div ng-hide="isStateChanging">
            <div class="data-view-container row" ui-view>
            </div>
          </div>
        </div>
      </div>
      {% endraw %}

      {% include "partials/_footer.html" %}

    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ gaTrackingCode }}', 'auto');
      // ga('send', 'pageview'); //Removed for angulartics
    </script>

    <!-- Bootstrapped variables -->
    <script>
      var ISWP_VARS = {{ ISWP_VARS | safe }};
    </script>

    <!--[if lt IE 9]>
      <script src="scripts/shims/es5-shim.js"></script>
      <script src="scripts/shims/json3.js"></script>
    <![endif]-->

    <!--[if lte IE 9]>
      <script src="scripts/shims/typedarray.js"></script>
    <![endif]-->

    <!-- CDN-hosted scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
    <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.js'></script>
    <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.0.1/leaflet-omnivore.min.js'></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular-sanitize.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular-cookies.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular-route.min.js"></script>

    <script src="scripts/vendor.js"></script>
    <script src="scripts/scripts.js"></script>
</body>
</html>
