$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

$demandsColor: #0AC763;
$needsColor: #aa0000;
$strategiesColor: #FF7518;
$suppliesColor: #007fff;

@import 'bootstrap';

.browsehappy {
  margin: 0.2em 0;
  background: #eee;
  color: #000;
  padding: 10px;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  text-align: center;
}

html.lt-ie9 {
  .container { width: 790px; }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.esri-attribution-logo {
  visibility: hidden;
}

.popover {
  max-width: 340px;
}

.about-nav {
  width: 200px;
  margin-top: 30px;

  .nav-title {
    padding: 2px 15px;
    text-transform: uppercase;
  }

  > li {
    border-bottom: 1px solid #ccc;

    + li {
      margin-top: 0;
    }

    &.active {
      background-color: #e6e6e6;
    }
  }

  > li > a > i {
    float: right;
    margin-top: 4px;
  }

}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.dropdown-menu {
  z-index: 1001;
}

/* Everything gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  border-bottom: 1px solid #e5e5e5;

  .nav {
    margin-top: 50px;

    > li.first-time-here {
      > a:hover {
        text-decoration: underline;
        background-color: inherit;
      }
    }
  }

  h1 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 0;
    font-size: 26px
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 19px;
    font-size: 18px
  }
}

.footer {
  padding-top: 10px;
  margin-top: 20px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}

.container-narrow > hr {
  margin: 30px 0;
}


.map-top-container {
  margin-bottom: 6px;
}

.data-view-container {
  h3 {
    margin-top: 10px;
  }
}

.main-map {
  height: 300px;
  width: 100%;
}

.leaflet-control-layers label {
  margin-bottom: 0;
  font-weight: normal;
}

.leaflet-label {
  border-color: #777;
  background: rgb(235, 235, 235);
}

.leaflet-label.sourceLabel {
  border-color: rgba($strategiesColor, 0.75);
}

.theme-nav-link {
  background-color: #eee;
  color: #000;
  border-right: 2px solid #fff;
  transition: background-color 1s ease;

  &:last-child {
    border-right: none;
  }

  &:active {
    box-shadow: none;
  }

  &:hover {
    color: #fff;

    &.link-demands {
      background-color: lighten($demandsColor, 5%);
    }
    &.link-needs {
      background-color: lighten($needsColor, 20%);
    }
    &.link-strategies {
      background-color: lighten($strategiesColor, 10%);
    }
    &.link-supplies {
      background-color: lighten($suppliesColor, 5%);
    }
  }

  &.active {
    color: #fff;
    box-shadow: none;
    font-weight: bold;

    &.link-demands {
      background-color: $demandsColor;
    }
    &.link-needs {
      background-color: $needsColor;
    }
    &.link-strategies {
      background-color: $strategiesColor;
    }
    &.link-supplies {
      background-color: $suppliesColor;
    }
  }
}

.theme-nav-col {

  > a {
    display: block;
    text-align: center;
    padding: 10px;
    background: #eee;
    color: #000;

    &:hover {
      text-decoration: none;
    }

    &.active {
      color: #fff;
    }
  }
}

.map-controls {
  > li > a {
    color: #000;
    background-color: #eee;
  }
}

.map-controls {
  margin-top: 8px;

  > li > a {
    padding: 6px 10px;
  }
}


.year-nav {
  margin-top: 8px;

  > li > a {
    padding: 6px 10px;
    background-color: #eee;
    color: black;
  }
}

.decade-label {
  float: left;
  height: 30px;
  margin-top: 12px;
  margin-right: 10px;
}

.year-select-container {
  // margin-bottom: 10px;
}

.map-note {
  margin-top: 5px;
  color: #666;
}

.table-view {
  margin-top: 10px;
  margin-bottom: 10px;
}

.tree-map-container,
.chart-container {
  margin-bottom: 20px;
}

.tree-map {
  height: 500px;
  text-align: center;
}

.tree-map-tooltip {
  background: white;
  padding: 4px;
  border: 1px solid #666;
}

.num-items {
  a.active {
    color: #333;
  }
}

.smart-table {

  td.number {
    text-align: right;
  }

  td.percent {
    text-align: center;
  }

  tbody > tr.selected > td {
    background-color: #ff7518;
    color: #fff;

    a {
      color: #fff;
    }
  }

  span.header-content {
    cursor: pointer;
  }
}

.note-marker {
  color: #007fff;
}

.callout {
  margin: 10px 0;
  padding: 10px;
  border-left: 3px solid #eee;

  p .fa {
    font-size: 17px;
  }

  h4 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
  }

  &.callout-warning {
    background-color: #fcf8f2;
    border-color: #f0ad4e;
  }

  &.callout-danger {
    background-color: #fdf7f7;
    border-color: #d9534f;
  }

  &.callout-note {
    background-color: #f4f8fa;
    border-color: #5bc0de;
  }
}

.view-intro-text {
  margin-top: 10px;
}

.view-select-container {
  margin-bottom: 10px;

  .form-horizontal .control-label {
    text-align: left;
  }

  .ui-select-bootstrap {
    .btn-default, .btn-default:hover {
      color: inherit;
      background-color: inherit;
      border: 1px solid #ccc;
    }
  }
}

.view-select {
  width: 75%;

  &.select2-container {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.pagination-container {
  text-align: center;

  .pagination a {
    cursor: pointer;
  }
}

.leaflet-legend {

  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  background: #fff;
  border-radius: 5px;
  padding: 4px;
  font-size: 12px;

  h4 {
    font-size: 12px;
    font-weight: bold;
    margin: 4px 0;
    text-align: center;
  }

  ul {
    list-style: none;
    padding: 0 0 0 4px;
    margin: 5px 12px;
  }

  .lower-bound {
    width: 42px;
    margin-right:4px;
    display:inline-block;
    text-align:right;
  }

  p {
    max-width: 150px;
    margin: 4px;
  }
}

.about-content {
  section {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}

.glossary {
  h5 {
    font-weight: bold;
    margin-bottom: 6px;
    color: #555;
  }

  p {
    padding-left: 10px;
    border-left: 3px solid #eee;
  }
}

img.graphic {
  display: inline;
  margin-bottom: 6px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 10px;
    }

    .main-map {
      height: 400px;
      width: 100%;
    }

    .lead {
      font-size: 18px;
    }

    .view-select {
      width: 100%;
    }
}
