<div ng-include="'partials/navbar'"></div>

<div ng-controller="MapCtrl">
  <div main-map id="main-map"></div>
</div>

<div class="row marketing">
  <div ng-repeat="thing in awesomeThings">
      <h4>{{thing.name}}</h4>
      <p>{{thing.info}}</p>
  </div>
</div>

<div class="footer">
  <p>This website is brought to you by the <a href="http://www.twdb.texas.gov" title="Texas Water Development Board">Texas Water Development Board</a></p>
  <p>Site Policies | Texas Online | Homeland Security | TRAIL | Contact Us</p>
</div>
