<div ng-include="'partials/navbar'"></div>

<div>
  <ul class="theme-nav nav nav-pills">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Water Needs <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#">Municipal</a></li>
        <li><a href="#">Manufacturing</a></li>
        <li><a href="#">Mining</a></li>
        <li><a href="#">Steam Electric</a></li>
        <li><a href="#">Livestock</a></li>
        <li><a href="#">Irrigation</a></li>
      </ul>
    </li>
  </ul>
</div>

<div ng-controller="MapCtrl">
  <div main-map id="main-map"></div>
</div>

<div class="footer">
  <p>This website is brought to you by the <a href="http://www.twdb.texas.gov" title="Texas Water Development Board">Texas Water Development Board</a></p>
  <p>Site Policies | Texas Online | Homeland Security | TRAIL | Contact Us</p>
</div>
