<div ng-include="'partials/navbar'"></div>

<div ng-controller="ThemeCtrl">
  <ul class="theme-nav nav nav-pills">
    <li class="dropdown">
      <a class="dropdown-toggle" href="#">
        Water Needs <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li ng-repeat="theme in needsThemes">
          <a href="#">{{theme.name}}</a>
        </li>
      </ul>
    </li>
  </ul>
</div>

<div ng-controller="MapCtrl">
  <div main-map id="main-map"></div>
</div>

<div ng-controller="YearSelectCtrl">
  <span class="decade-label">DECADE:</span>
  <ul class="year-nav nav nav-pills">
    <li ng-repeat="decade in decades" ng-class="{'active': decade == selectedDecade}">
      <a href="#">{{decade}}</a>
    </li>
  </li>
</div>

<div class="footer">
  <p>This website is brought to you by the <a href="http://www.twdb.texas.gov" title="Texas Water Development Board">Texas Water Development Board</a></p>
  <p>Site Policies | Texas Online | Homeland Security | TRAIL | Contact Us</p>
</div>
