<div class="footer">
  <p>This website is brought to you by the <a href="http://www.twdb.texas.gov" title="Texas Water Development Board">Texas Water Development Board</a></p>
  <p>
    <a href="/about#SitePolicies" target="_self" title="Site Policies">Site Policies</a> |
    <a href="http://www.texas.gov/" title="Texas Online">Texas Online</a> |
    <a href="http://www.governor.texas.gov/homeland" title="Homeland Security">Homeland Security</a> |
    <a href="http://www2.tsl.state.tx.us/trail" title="TRAIL">TRAIL</a> |
    <a href="mailto:InteractiveSWP@twdb.texas.gov" title="Contact Us">Contact Us</a>
  </p>
</div>
