<div class="area-select-container">
  <div class="row">
    <div class="col-md-12">
      <p>Select an area or entity from the following dropdowns:</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <select ui-select2 class="place-select" ng-model="selectedRegion" data-placeholder="Select a Region">
          <option value=""></option>
          <option ng-repeat="region in regions" value="{{region}}">Region {{region}}</option>
      </select>
    </div>

    <div class="col-md-4">
      <select ui-select2 class="place-select" ng-model="selectedCounty" data-placeholder="Select a County">
          <option value=""></option>
          <option ng-repeat="county in counties" value="{{county}}">{{county | titleize}}</option>
      </select>
    </div>

    <div class="col-md-4">
      <p>Entities</p>
    </div>
  </div>
</div>

