

/* Page Styles */
body 
{
    padding-top: 8px;
}

h2, h3 
{
    font-size: 22px;
    line-height: 22px;
}

hr.space
{
    border: none;
}

#mapContainer
{
    height: 400px;
}

.page-header 
{
    padding-bottom: 0px;
    margin-bottom: 10px;    
}

.container 
{
    padding-bottom: 40px;
}

.btn
{
    line-height: 22px;
}

ul.nav > li.nav-label
{
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 8px;
    color: black;
}

.nav-pills .dropdown-menu li > a 
{
    color: #444;
}

.nav-pills .dropdown-menu li > a:hover
{
    color: white;
}

.nav-pills .dropdown-menu {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 2px solid black;
}

.nav-pills .dropdown-menu li.nav-category 
{
    padding: 5px 20px 3px 20px;
    clear: both;
    line-height: 20px;
    color: #999999;
    white-space: nowrap;
    font-weight: bold;
}

#themeNav
{
    margin-bottom: 4px;
}

.row.toolbar
{
    margin-top: 4px;
}

#dataContainer
{
    min-height: 500px;
}

.alert.alert-warning-border 
{
    border: 4px solid #FF7501;
    padding: 5px;
    background: white;
    color: black; 
}

.alert.alert-warning-border h4
{
    color: black;
    font-weight: bold;
}

.alert.alert-error-border
{
    border: 4px solid #ff0039;
    padding: 5px;
    background: white;
    color: black;
}

.alert.alert-error-border h4
{
    color: black;
    font-weight: bold;
}

ul.typeahead .catName
{
    font-size:11px;
}    

#countyRegionSelectContainer .selectContainer
{
    margin-right: 30px;
}

.aligned-left 
{
    text-align: left !important;
}

i.wugIcon 
{
    color: Green;
}

.dataTables_filter
{
    float: right;
}

.paging_bootstrap 
{
    float: right;
}

.dataTables_info
{
    padding-top: 10px;
}

.modelTableWrapper .dataTables_length select
{
    width: 90px;
}

.modelTableWrapper, 
.modelTableWrapper select,
.modelTableWrapper label,
.modelTableWrapper input
{
    font-size: 12px;
    line-height: 12px;
}

.modelTable
{
    width: 100%;
}

.modelTable th 
{
    font-size: 14px;
    cursor:pointer;
}

.modelTable th.sorting_asc
{
    
}

.modelTable th.sorting_desc
{
    
}


.modelTable th:focus
{
    outline:none;
}

.modelTable thead .popover
{
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

.modelTable th,
.modelTable td 
{
    text-align: center;
}

.mapLoadingOverlay
{
    position: absolute;
    z-index: 99999;
    background: rgb(255, 255, 255) transparent; /* default fallback */
    background: rgba(255,255,255,0.8) url('images/loading-36.gif') no-repeat center;
}

.tableLoading
{
    background: url('images/loading-36.gif') no-repeat;
    width: 130px;
    margin: 10px auto 0 auto;
    height: 20px;
}

#nothingFoundMessage 
{
    padding-top:10px;
}

ul.breadcrumb 
{
    font-size: 12px;
    padding: 0;
    margin-bottom: 0;
    background-color: White;
}

ul.breadcrumb li:last-child > a,
ul.breadcrumb li:last-child > a:hover
{
    pointer-events: none;
    cursor: default;
    color: #aaa;
}

[class^="icon-"], [class*=" icon-"]
{
    vertical-align: 0px;
}

.note-marker
{
    color: #fe781e;
}

/* OpenLayers */
.olControlLayerSwitcher 
{
    width: 23em !important;
}

.olControlLayerSwitcher .layersDiv 
{
    background-color: #dfdfdf !important;
    color: black !important;
    font-family: "Open Sans", Calibri, Candara, Arial, sans-serif !important;
    border-left: 2px solid white !important;
    border-top: 2px solid white !important;
    border-bottom: 2px solid white !important;
}

.olControlLayerSwitcher .layersDiv input
{
    margin-top: -4px !important;
}

.olFramedCloudPopupContent h3 
{
    font-size: 14px;
    line-height: 14px;
    margin: 2px 0;
}

.olMapViewport img
{
    max-width:none;
}

.olControlAttribution 
{
    bottom: 0.5em !important;
}

div.olControlMousePosition 
{
    bottom: 0.5em !important;
    left: 5px !important;
    font-size: 10px !important;
    
}

.olControlLayerSwitcher label 
{
    display: inline;   
    margin-left: 6px;
}

.olImageLoadError 
{ 
    background-color: transparent !important; 
    /* when OL encounters a 404, don't display the pink image */
    display: none !important;
} 