
body 
{
    padding-top: 2px;
    line-height: 12px;
}

.container 
{
    padding-bottom: 40px;
}

.app-footer
{
    padding: 10px 0;
    text-align: center;
}

.page-header 
{
    margin: 20px 0 10px;
}

.x-panel h3 {
    line-height: 24px;
}

.olFramedCloudPopupContent h3 
{
    font-size: 14px;
    line-height: 14px;
    margin: 2px 0;
}

.olMapViewport img
{
    max-width:none;
}

.olControlAttribution 
{
    bottom: 4px;
}

.olControlLayerSwitcher label {
    display: inline;   
    margin-left: 6px;
}

.olImageLoadError 
{ 
    background-color: transparent !important; 
    /* when OL encounters a 404, don't display the pink image */
    display: none !important;
} 

.x-boundlist ul
{
    margin: 0;   
}

.x-boundlist-item .catName
{
    font-size:10px;
    color: #666;
}

.x-action-col-icon
{
    height:14px;
}

.icon-fullscreen
{
    background-position: -456px -144px !important;
    background-image: url("bootstrap/img/glyphicons-halflings.png");
    background-repeat: no-repeat !important;
    margin-top: 1px;
}

.icon-remove
{
    background-position: -312px 0 !important;
    background-image: url("bootstrap/img/glyphicons-halflings.png");
    background-repeat: no-repeat !important;
    margin-top: 1px;
}

.icon-play
{
    background-position: -264px -72px !important;
    background-image: url("bootstrap/img/glyphicons-halflings.png");
    background-repeat: no-repeat !important;
    margin-top: 1px;
}

.icon-zoom-in 
{
    background-position: -336px 0 !important;
    background-image: url("bootstrap/img/glyphicons-halflings.png");
    background-repeat: no-repeat !important;
    margin-top: 1px;
}