<div class="view-select-container">

  <div class="row">
    <div class="col-sm-3">
      <p>View data by:
        <a class="selected-view" ng-hide="showViewTypeSelect" ng-click="showViewTypeSelect=true" href="">
          {{selectedViewType.text}}
        </a>
      </p>
      <div ng-show="showViewTypeSelect" style="display:inline-block;">
        <select class="form-control" ng-model="selectedViewType" ng-options="v.text for v in viewTypes"></select>
      </div>
    </div>
    <div ng-show="selectedViewType.showSub" ng-hide="showViewTypeSelect" class="col-sm-3">
      <div ng-show="selectedViewType.value == 'region'">
        <select selectize="regionSelectOptions" ng-model="selectedRegion" options="regions"></select>
      </div>

      <div ng-show="selectedViewType.value == 'type'">
        <select selectize="typeSelectOptions" ng-model="selectedType" options="entityTypes"></select>
      </div>

      <div ng-show="selectedViewType.value == 'county'">
        <select selectize="countySelectOptions" ng-model="selectedCounty" options="counties"></select>
      </div>

      <div ng-show="selectedViewType.value == 'entity'">
        <select selectize="entitySelectOptions" ng-model="selectedEntity"></select>
      </div>
    </div>
  </div>

</div>

