<div class="view-select-container">
  <div class="row">
    <div class="col-md-12">
      <p>View data by:</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <select selectize="typeSelectOptions" ng-model="selectedType" options="entityTypes"></select>
    </div>

    <div class="col-sm-3">
      <select selectize="regionSelectOptions" ng-model="selectedRegion" options="regions"></select>
    </div>

    <div class="col-sm-3">
      <select selectize="countySelectOptions" ng-model="selectedCounty" options="counties"></select>
    </div>

    <div class="col-sm-3">
      <select selectize="entitySelectOptions" ng-model="selectedEntity"></select>

    </div>
  </div>
</div>

